
<section class="profy__home" data-section>
  <div class="profy__home__greet">
    <div data-home-greet-time>
      Thursday, July 12
    </div>

    <div>
      <span data-home-greet-msg>
        Good Evening
      </span>
      <span data-home-greet-name>
        <%= `${pageInfo.userName.split(" ")[0]}` %>
        <!-- William -->
      </span>
    </div>
  </div>

  <div class="profy__home__nearing-duedate-txt">
    Here are some projects that are nearing due date :
  </div>

  <div class="profy__home__project-list">

    <div class="home-project">
      <div class="home-project__name">
        Swinging Utopia
      </div>
      <div class="home-project__goals">
        The main focus of this project is to test something
        that u have to do by yourself. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Iure, provident?
      </div>

      <div class="home-project__work-progress">
        <progress class="home-project__work-progress__bar" value="40" max="100"></progress>
        <div class="home-project__work-progress__txt"> <span data-home-project-work-progress>40</span>% </div>
      </div>

      <div class="home-project__due-date-wrapper">
        📅 Due : <span data-home-project-due-date>30.12.2022</span>
      </div>
    </div>

    <div class="home-project">
      <div class="home-project__name">
        abfafa lnakld
      </div>
      <div class="home-project__goals">
        The main focus of this project is to test something
        that u have to do by yourself. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Iure, provident?
      </div>

      <div class="home-project__work-progress">
        <progress class="home-project__work-progress__bar" value="40" max="100"></progress>
        <div class="home-project__work-progress__txt"> <span data-home-project-work-progress>40</span>% </div>
      </div>

      <div class="home-project__due-date-wrapper">
        📅 Due : <span data-home-project-due-date>30.12.2022</span>
      </div>
    </div>

    <div class="home-project">
      <div class="home-project__name">
        Addressing home
      </div>
      <div class="home-project__goals">
        The main focus of this project is to test something
        that u have to do by yourself. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Iure, provident?
      </div>

      <div class="home-project__work-progress">
        <progress class="home-project__work-progress__bar" value="40" max="100"></progress>
        <div class="home-project__work-progress__txt"> <span data-home-project-work-progress>40</span>% </div>
      </div>

      <div class="home-project__due-date-wrapper">
        📅 Due : <span data-home-project-due-date>30.12.2022</span>
      </div>
    </div>

    <div class="home-project">
      <div class="home-project__name">
        Bily Nas
      </div>
      <div class="home-project__goals">
        The main focus of this project is to test something
        that u have to do by yourself. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Iure, provident?
      </div>

      <div class="home-project__work-progress">
        <progress class="home-project__work-progress__bar" value="40" max="100"></progress>
        <div class="home-project__work-progress__txt"> <span data-home-project-work-progress>40</span>% </div>
      </div>

      <div class="home-project__due-date-wrapper">
        📅 Due : <span data-home-project-due-date>30.12.2022</span>
      </div>
    </div>

    <div class="home-project">
      <div class="home-project__name">
        XD
      </div>
      <div class="home-project__goals">
        The main focus of this project is to test something
        that u have to do by yourself. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Iure, provident?
      </div>

      <div class="home-project__work-progress">
        <progress class="home-project__work-progress__bar" value="40" max="100"></progress>
        <div class="home-project__work-progress__txt"> <span data-home-project-work-progress>40</span>% </div>
      </div>

      <div class="home-project__due-date-wrapper">
        📅 Due : <span data-home-project-due-date>30.12.2022</span>
      </div>
    </div>

  </div>

  <%- include('./error_notify.ejs') %>

</section>
