@use '../../components/' as *;

.profy__sidepanel {
  --top-margin: calc(var(--pad-titlebar) * 4.2);
  --sidepanel-width: 17rem;
  grid-area: sidepanel;
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 2 var(--sidepanel-width);

  position: relative;
  z-index: 52; 
  isolation: isolate;

  margin-block: 0 auto;
  padding-bottom: 2em;
  padding-inline: .8em .5em;
  // width: 90%;
  min-width: 15rem;
  max-width: var(--sidepanel-width); 
  // max-width: 100%;
  // width: 100%;
  // margin-right: auto;
  max-height: calc(100vh - var(--top-margin));
  min-height: calc(100vh - var(--top-margin));

  font-family: $font-secondary-r;
  background-color: var(--clr-sidebar-bg);
  overflow-y: auto;
  user-select: none;

  scrollbar-width: thin;
  scrollbar-color: var(--clr-sidebar-bg) var(--clr-sidebar-bg);
  &:hover {
    scrollbar-color: var(--clr-scrlbar-thumb) var(--clr-sidebar-bg);
    &::-webkit-scrollbar-thumb {
      background-color: var(--clr-scrlbar-thumb);
    }
  }
  &::-webkit-scrollbar { width: 1rem; }
  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrlbar-track);
    &:hover {
      background-color: var(--clr-scrlbar-thumb-hover);
    }
  }
  &::-webkit-scrollbar-track {
    // margin-top: var(--top-margin);
    background-color: var(--clr-scrlbar-track);
  }

  @include breakpoint(medium) {
    display: flex;
  }
}
