@use '../../../../frontend/sass/components/' as *;

.profy__sidepanel__create {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 62;
  isolation: isolate;

  
  // max-width: 100%;
  padding-block: .5em 1em;
  // margin-block: 0 .5rem;
  // margin-inline: auto;
  
  
  background-color: var(--clr-navlist-hover);
  color: var(--clr-primary-txt);
  
  
  &__project {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-inline: auto;
    padding: .4em 1.5em;
    // max-width: fit-content;

    
    border-radius: $borders;
    cursor: pointer;
    background-color: var(--clr-ternary-bg);
    
    & > * { pointer-events: none; }
    &--icon {}
    &--txt {}
  }
  
  &__label {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: .5rem;
    margin-inline: auto;
    padding: .4em 1.9em;
    // max-width: fit-content;
    
    border-radius: $borders;
    cursor: pointer;
    background-color: var(--clr-ternary-bg);

    & > * { pointer-events: none; }
    &--icon {}
    &--txt {}
  }
}

