@use '../components/' as *;

.signin__banner {
  display: block;
  margin-top: -45%;
  flex: 0 1 20%;
  padding: 0;

  background-image: linear-gradient(to bottom, #a985ff 58%, #00aeff);
  
  @include breakpoint(medium) {
    flex: 1 1 60%;
    margin-top: 0;
    padding: 0 0rem 0 1rem;
    max-width: 100%;
    min-height: inherit;
    
    background: linear-gradient(#fff, #fff);
  }
  
  @include breakpoint(large) {
    padding: 0 0rem 0 3rem;
    flex: 1 1 70%;
    min-height: inherit;
    margin-left: auto;
    max-width: 100%;

    overflow-y: hidden;
  }

  &__caption {
    font-size: 1.1rem;
  }

  &__img-wrap {
    display: grid;
    place-items: center;
    min-height: 50%;
    

    @include breakpoint(medium) {
      min-height: inherit;
      min-width: 100%;
    }

    @include breakpoint(large) {
      min-height: inherit;
      min-width: 100%;
      overflow-y: hidden;
    }
  }

  &__img {
    opacity: 0;
    
    transition: .3s opacity;

    @include breakpoint(medium) {
      max-height: 100%;
      height: 100%;
      opacity: 1;
      margin-left: auto;
    }
  }
}
