@use '../components/' as *;

.profy__logo {
  position: relative;  
  
  isolation: isolate;
  z-index: 112;
  max-width: fit-content;
  
  margin-inline: 0 auto;
  margin-block: 0 2rem;
  
  transition: .2s ease;
  
  @include breakpoint(medium) {
    position: absolute;
    top: 2rem; 
    margin-inline: auto;
  }

}


.signin__form-header {
  margin-bottom: 2.5rem;
  color: #444;
  text-align: left;
  font-size: clamp(1.02rem, 3.2vmin, 1.09rem);
  
  @include breakpoint(large) {
    margin-bottom: 3.5rem;
  }

  .signin-text {
    // font-family: 'Ubuntu', sans-serif;
    font-family: sans-serif;
    font-weight: 700;
    color: #555;
    font-size: clamp(1.65rem, 5vmin, 2.6rem);
    margin-bottom: 1rem;
  }
}

.signin__form-wrapper {
  // position: relative;
  flex: 1 1 80%;
  padding: 1.3rem;
  width: 100%;
  min-height: fit-content;
  
  color: #444;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 .6rem hsl(0 0 0 / .3);

  @include breakpoint(medium) {
    flex: 1 1 40%;
    max-width: 21rem;
    min-width: 17rem;
    width: 100%;
    min-height: 0;
    
    padding: 0 0rem 0 .5rem;
    box-shadow: none;
  }
  
  @include breakpoint(large) {
    max-width: 21rem;
    min-width: 18rem;
    flex: 1 1 30%;
    padding: 0 .2rem 0 1rem;
  }
}

.signin__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.7rem;
  border-radius: 1rem 1rem 0 0;
  min-width: 100%;
  
  @include breakpoint(large) {
    gap: 1.5rem;
    min-width: 100%;
  }

  .client-validate {
    display: block;
    position: relative;
    width: 100%;

    margin-top: .5rem;
    padding: 0 1em;
    font-size: .75rem;
    color: $clr-error500;
    background-color: transparent;

    &.client-validate--email {
      font-size: .8rem;
    }

    &.error {
      display: block;
    }
  }

  &__field--error {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    padding: .25em 1em;
    width: 100%;

    font-size: .8rem;
    border-radius: .5rem;
    color: $clr-error500;
    background-color: hsl(0 100% 67% / .2);

    .field_error-cross { cursor: pointer; }
  }

  &__email-wrapper {
    width: 100%;
    font-weight: 600;
    color: #555;
  }
  &__email {
    display: block;
    margin-top: .4rem;
    padding: .7em;
    width: 100%;

    font-weight: 400;
    font-size: 1.02rem;
    border: none;
    outline: 1px solid #cdcdcd;
    border-radius: $borders;

    &:focus {
      outline: 2px solid $clr-primary400;
    }

    &.wrong-input:focus {
      outline: 2px solid $clr-error500;
    }
  }

  &__password-wrapper {
    width: 100%;
    margin: 1rem 0 .3rem 0;
    font-weight: 600;
    color: #555;
    
    @include breakpoint(large) {
      margin-bottom: .7rem;
    }

    .min_pwdsize {
      text-align: center;
      font-size: .78rem;
      margin-left: .15rem;
      font-weight: 400;
    }
  }
  &__password-cont {
    display: block;
    position: relative;
    width: 100%;

    border-radius: $borders;
  }
  &__password {
    display: block;
    margin-top: .4rem;
    padding: .7em 2.45em .7em .7em;
    width: 100%;

    font-weight: 400;
    font-size: 1.02rem;
    border: none;
    outline: 1px solid #cdcdcd;
    border-radius: $borders;

    &:focus {
      border: none;
      outline: 2px solid $clr-primary400;
    }

    &.wrong-input:focus {
      outline: 2px solid $clr-error500;
    }
  }
  &__show-password {
    position: absolute;
    inset: 0 0 auto auto; //26
    isolation: isolate;
    transform: translateX(-30%) translateY(43%);
    padding: .2em .3em .2em .2em;
    
    font-size: 1.2rem;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    transition: .2s opacity, .2s display;

    & span {
      pointer-events: none;
    }
    .pwd-show, .pwd-hide {
      display: none;
    }
    &.showPwd .pwd-show {
      display: block;
    }
    &.hidePwd .pwd-hide {
      display: block;
    }

    &.visible {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__submit-btn {
    display: block;
    padding: .55em .75em;      
    
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: $borders;
    color: $clr-primary450;
    background-color: $clr-primary200;
    transition: .3s background-color;

    // box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: hsl(199 100% 50% / .45);
    }
  }
}

.signin__form--signupurl {
  --url-clr: hsl(258 64% 60%);
  display: block;
  position: relative;
  margin-top: 3rem;
  margin-left: auto;
  font-size: clamp(1.02rem, 3.2vmin, 1.1rem);
  color: #555;

  & a {
    position: relative;
    color: var(--url-clr);
    transition: .2s color;

    &:hover {
      color: hsl(258 64% 67%);
    }
  }
}
