<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Note: <%= data.title %> </title>

  <style>

    textarea {
      margin-inline: auto;
      resize: none;
      min-height: 5rem;
      min-width: 50%;
      border: 2px solid turquoise;
    }

  </style>

</head>
<body>
  
  <!-- purpose of this template is to show each note and perform
  CRUD operation -->

    <br>
    <div>
    
      <textarea name="title" data-id="/note?id=<%= data._id %>" placeholder="title"><%= data.title %></textarea>
      <br>
      <textarea name="note" id="" placeholder="note" ><%= data.note %></textarea>

    <div></div>
    <br>

</body>
</html>
