<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Index Page </title>
  <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/homeStyles.css">

</head>
<body>
  
  <h1>
    This is the index page 
  </h1>

  
  <% let c=0; %>

  <% if(locals.error) { %>
    <%= error %>
  <% } %>

  <% if(locals.notes) { %>

    <% notes.forEach(item => { %>

  
      <br>
      <a href="/note?id=<%= item._id %>">
      
        <div> Note no: <%= ++c %> </div>

        <div> Note name: <%= item.title %> </div>

      </a>
      <br>
  
    <% }); %>

  <% } %>

  
  <br>
  <form action="/signout" method="post">
    <button type="submit"> Signout </button>
  </form>

  <!-- <script defer>

    const noteIds = document.querySelectorAll('[name="title"]');

    noteIds.forEach(id => {
      id.addEventListener('click', async e => {
        const query = e.target.getAttribute('data-id');

        try {
          const resp = await fetch(query);
          const data = await resp.json();

          console.log(data);
        } catch (err) {
          console.log(err);
        }


        // console.log(e.target.getAttribute('data-id'));
      })
    })
  </script> -->

</body>
</html>
