<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Index Page </title>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      height: 100%;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      min-height: 100%;
    }

    a {
      min-height: 6rem;
      padding: 2rem 5rem;
      border: 2px solid salmon;
    }

    textarea {
      margin-inline: auto;
      resize: none;
      min-height: 5rem;
      min-width: 50%;

    }

  </style>

</head>
<body>
  
  <h1>
    This is the index page 
  </h1>

  
  <% let c=0; %>
  <% notes.forEach(item => { %>

    <% if(item) { %>
  
      <br>
      <a href="/note?id=<%= item._id %>">
      
        <div> Note no: <%= ++c %> </div>

        <div> Note name: <%= item.title %> </div>

      </a>
      <br>

    <% } %>
  
  <% }); %>
  
  <br>
  <form action="/signout" method="post">
    <button type="submit"> Signout </button>
  </form>

  <!-- <script defer>

    const noteIds = document.querySelectorAll('[name="title"]');

    noteIds.forEach(id => {
      id.addEventListener('click', async e => {
        const query = e.target.getAttribute('data-id');

        try {
          const resp = await fetch(query);
          const data = await resp.json();

          console.log(data);
        } catch (err) {
          console.log(err);
        }


        // console.log(e.target.getAttribute('data-id'));
      })
    })
  </script> -->

</body>
</html>
