<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= info.title %> </title>

  <link rel="stylesheet" href="css/signinStyles.css">

  <script src="js/app.js" type="module"></script>
</head>

<body>

  <section id="root">

    <div class="signin">

      <section class="signin__form-wrapper">

        <div class="signin__form-header">
          <h1 class="login-text"> Sign in </h1>
          Enter your credentials to access your account
        </div>

        <form class="signin__form" action="/signin" method="post">

          <div class="signin__form__email-wrapper">
            Email address
            <input class="signin__form__email" type="email" name="emailId" spellcheck="false" autocapitalize="none"
              aria-label="email id" placeholder="name@company.com" required
              value="<%= info.emailId %>" />
          </div>

          <div class="signin__form__password-wrapper">
            Password
            <section class="signin__form__password-cont">
              <input class="signin__form__password" type="password" name="password" aria-label="password" id="password"
                placeholder="min 8 chars" value="<%= info.pwd %>" required/>
                <!-- placeholder="your password" minlength="8"  required/> -->

              <div class="signin__form__show-password hidePwd"> <!-- showPwd hidePwd -->

                <span class="pwd-hide">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <rect x="0" y="0" width="24" height="24" fill="none" stroke="none" />
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2">
                      <path
                        d="M6.873 17.129c-1.845-1.31-3.305-3.014-4.13-4.09a1.693 1.693 0 0 1 0-2.077C4.236 9.013 7.818 5 12 5c1.876 0 3.63.807 5.13 1.874" />
                      <path
                        d="M14.13 9.887a3 3 0 1 0-4.243 4.242M4 20L20 4M10 18.704A7.124 7.124 0 0 0 12 19c4.182 0 7.764-4.013 9.257-5.962a1.694 1.694 0 0 0-.001-2.078A22.939 22.939 0 0 0 19.57 9" />
                    </g>
                  </svg>
                </span>

                <span class="pwd-show">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <rect x="0" y="0" width="24" height="24" fill="none" stroke="none" />
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2">
                      <path
                        d="M21.257 10.962c.474.62.474 1.457 0 2.076C19.764 14.987 16.182 19 12 19c-4.182 0-7.764-4.013-9.257-5.962a1.692 1.692 0 0 1 0-2.076C4.236 9.013 7.818 5 12 5c4.182 0 7.764 4.013 9.257 5.962Z" />
                      <circle cx="12" cy="12" r="3" />
                    </g>
                  </svg>
                </span>

              </div>
            </section>

            <% if(locals.info.error !== null) { %>
              <div class="signin__form__field--error">
                <span> <%= info.error %> </span>
                <span class="field_error-cross">x</span>
              </div>
            <% } %>

          </div>

          <button class="signin__form__submit-btn" type="submit"> Sign in </button>

        </form>

        <div class="signin__form--signupurl">

          Don't have an account?
          <a href="/signup"> Create one </a>

        </div>

      </section>

      <figure class="signin__pic-eg">

        <!-- <figcaption class="signin__pic-eg__caption">
          bruh this a good notes app and maybe
          I'll add the reminders feature
        </figcaption> -->

        <section class="signin__pic-eg__img-wrap">
          <!-- <img class="signin__pic-eg__img"
            src="https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
            alt="to-notes app demo image"> -->
          <img class="signin__pic-eg__img"
            src="https://cdn.dribbble.com/users/6395823/screenshots/15558762/media/59b986de0edcf301170aba02e9550ebd.png?compress=1&resize=1000x750&vertical=top"
            alt="to-notes app demo image">
        </section>

      </figure>

    </div>

  </section>

</body>

</html>
