<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Signup </title>
</head>
<body>
  
  <form action="/signup" method="post">

    <label for="firstName"> First Name </label>
    <input type="text" name="firstName" id="firstName" required>
    <br>
    <label for="lastName"> Last Name </label>
    <input type="text" name="lastName" id="lastName">
    <br>
    <label for="emailId"> Email Id </label>
    <input type="email" name="emailId" id="emailId" required>

    <% if(locals.error_user) { %>
      <div class="emailId__error">
        <%= error_user %>
      </div>
    <% } %>

    <br>
    <label for="password"> Password </label>
    <input type="password" name="password" id="password" required>

    <span class="password__error"></span>

    <br>
    <label for="confirmPassword"> Confirm Password </label>
    <input type="password" name="confirmPassword" id="confirmPassword" required>
    
    <br> <br>
    <button type="submit"> Create Account </button>

    <br>
    <br>
    <a href="/signin"> SIGN IN </a>

  </form>

</body>
</html>
