/* ubuntu-400 */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-regular.woff") format("woff");
  font-display: swap;
}
/* ubuntu-500 */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-500.woff") format("woff");
  font-display: swap;
}
/* roboto-400 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  font-display: swap;
}
/* roboto-500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-scroll-chaining: chained;
      overscroll-behavior: auto;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img, svg {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

input, button,
textarea, select {
  font: inherit;
}

p,
h1, h2,
h3, h4,
h5, h6,
textarea {
  overflow-wrap: break-word;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: grid;
  place-items: center;
}

.hidden {
  visibility: hidden;
}

.full-hide {
  display: none;
}

.profy__main {
  --top-margin: calc(var(--pad-titlebar) * 4.2);
  display: block;
  position: relative;
  padding-inline: 1rem;
  margin-block: 0 auto;
  color: var(--clr-secondary-txt);
  font-family: "Roboto", sans-serif;
  max-height: calc(100vh - var(--top-margin));
  min-height: calc(100vh - var(--top-margin));
  overflow-y: auto;
}
@media (min-width: 40em) {
  .profy__main {
    flex-grow: 1;
    padding-inline: 2rem;
  }
}
@media (min-width: 64em) {
  .profy__main {
    padding-inline: 4.5rem;
  }
}
.profy__main__path-wrap {
  display: none;
  word-spacing: 0.1rem;
  margin-block: 2rem 0;
}
@media (min-width: 40em) {
  .profy__main__path-wrap {
    display: block;
  }
}
.profy__main__path {
  display: inline-block;
  font-size: 0.95rem;
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.profy__main__path.inactive {
  color: var(--clr-inactive-txt);
}

.profy__main__header {
  display: flex;
  align-items: center;
  margin-block: 1.7rem 3rem;
}
.profy__main__header__project-name {
  font-size: clamp(2rem, 5vmin, 4rem);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: var(--clr-primary-txt);
  word-spacing: 0.3rem;
}
.profy__main__header__options {
  margin: 0;
}
.profy__main__header__options--icon {
  font-size: clamp(1rem, 4vmin, 2rem);
  margin-left: auto;
  padding-block: 0.15em;
  padding-inline: 0.2em;
  color: var(--clr-primary-icon);
  background-color: var(--clr-sidebar-bg);
  border-radius: 0.5rem;
  cursor: pointer;
}
.profy__main__header__options .project__options__dropdown {
  visibility: hidden;
  opacity: 0;
  min-width: 0;
  position: absolute;
  z-index: 802;
  isolation: isolate;
  top: calc(var(--top-margin) * 1.5);
  right: calc(var(--top-margin) * 1.9);
  padding: 1em 0;
  background-color: var(--clr-sidebar-bg);
  border-radius: 0.5rem;
  transform: translateX(1rem);
  transition: 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.profy__main__header__options .project__options__dropdown.open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.profy__main__header__options .project__options__dropdown--share {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: inherit;
  margin-bottom: 1rem;
}
.profy__main__header__options .project__options__dropdown--share:hover {
  background-color: var(--clr-navlist-hover);
}
.profy__main__header__options .project__options__dropdown--share--icon {
  font-size: 1.3rem;
  pointer-events: none;
}
.profy__main__header__options .project__options__dropdown--share--txt {
  font-size: 1.05rem;
  margin-left: 0.5rem;
  pointer-events: none;
}
.profy__main__header__options .project__options__dropdown--delete {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: inherit;
  color: hsl(348deg, 100%, 70%);
}
.profy__main__header__options .project__options__dropdown--delete:hover {
  background-color: var(--clr-navlist-hover);
}
.profy__main__header__options .project__options__dropdown--delete--icon {
  font-size: 1.3rem;
  pointer-events: none;
}
.profy__main__header__options .project__options__dropdown--delete--txt {
  font-size: 1.05rem;
  margin-left: 0.5rem;
  pointer-events: none;
}
.profy__main__header__options [data-project-options-backdrop] {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 702;
  inset: 0;
  min-width: 100vh;
  min-height: 100vh;
  isolation: isolate;
}
.profy__main__header__options [data-project-options-backdrop][aria-hidden=false] {
  opacity: 1;
  visibility: visible;
}
.profy__main__header__options svg {
  pointer-events: none;
}

.profy__main__section__options {
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow-x: auto;
  scrollbar-width: none;
  padding-block: 0.5em 0em;
  border-bottom: 2px solid var(--clr-separator-brdr);
}
.profy__main__section__options [data-project-section-options] {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  flex-shrink: 0;
  position: relative;
  padding-block: 0.2em 0.8em;
  padding-inline: 0.4em;
  isolation: isolate;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s ease;
  color: var(--clr-inactive-txt);
}
.profy__main__section__options [data-project-section-options] > * {
  pointer-events: none;
}
.profy__main__section__options [data-project-section-options] [data-project-section-options-icon] {
  flex-shrink: 0;
  color: var(--clr-inactive-txt);
}
.profy__main__section__options [data-project-section-options]:hover {
  color: var(--clr-secondary-txt);
}
.profy__main__section__options [data-project-section-options]:hover::before {
  content: "";
  position: absolute;
  inset: auto auto 25% 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  border-radius: 0.5rem;
  background-color: var(--clr-separator-brdr);
}
.profy__main__section__options [data-project-section-options].selected {
  color: var(--clr-secondary-txt);
}
.profy__main__section__options [data-project-section-options].selected::after {
  transform: scale(1);
}
.profy__main__section__options [data-project-section-options]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 0.15rem;
  width: 100%;
  background-color: var(--clr-logo-project);
  border-radius: 1rem 1rem 0 0;
  transition: 0.15s ease;
  transform: scale(0);
  pointer-events: none;
}

.profy__main__section--overview {
  display: none;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  margin-block: 3rem 0;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  cursor: initial;
}
.profy__main__section--overview .overview__change-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0 0 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 1rem;
}
.profy__main__section--overview .overview__change-btn.edit [data-overview-cancel-btn], .profy__main__section--overview .overview__change-btn.edit [data-overview-save-btn] {
  display: inline-block;
}
.profy__main__section--overview .overview__change-btn.edit [data-overview-edit-btn] {
  display: none;
}
.profy__main__section--overview .overview__change-btn button {
  display: none;
  padding: 0.3em 0.8em;
  border-radius: 0.5rem;
  border: none;
  transition: 0.15s ease;
  color: var(--clr-primary-txt);
  background-color: var(--clr-primary-bg);
  border: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--overview .overview__change-btn button:hover {
  background-color: var(--clr-separator-brdr);
}
.profy__main__section--overview .overview__change-btn button:first-child {
  display: block;
}
.profy__main__section--overview .overview__change-btn button[data-overview-save-btn] {
  color: var(--clr-edit-btn);
  background-color: var(--clr-edit-btn-bg);
  border: none;
  transition: 0.15s ease;
}
.profy__main__section--overview .overview__change-btn button[data-overview-save-btn]:hover {
  background-color: var(--clr-edit-btn-hover);
}
.profy__main__section--overview .section--overview__form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem;
  padding: 0.5em 0.75em;
}
.profy__main__section--overview .section--overview__form--name {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 24ch;
  font-size: 1.2rem;
}
.profy__main__section--overview .section--overview__form--name:last-child {
  margin-left: auto;
}
.profy__main__section--overview .section--overview__form--name label {
  flex-grow: 1;
  flex-shrink: 0;
  cursor: inherit;
}
.profy__main__section--overview .section--overview__form--name__field {
  display: block;
  padding: 0.3em 1em 0.3em 0.8em;
  min-width: 20ch;
  margin-top: 1rem;
  color: var(--clr-primary-txt);
  background-color: var(--clr-input-field);
  outline: 1px solid var(--clr-separator-brdr);
  border-radius: 0.5rem;
  border: none;
}
.profy__main__section--overview .section--overview__form--name__field:focus {
  outline: 1px solid var(--clr-logo-project);
}
.profy__main__section--overview .section--overview__form--name__field:-moz-read-only:focus {
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--overview .section--overview__form--name__field:read-only:focus {
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--overview .section--overview__form--date-wrap {
  display: block;
  margin-block: 2.7rem 0;
  font-size: 1.1rem;
}
.profy__main__section--overview .section--overview__form--date-wrap label {
  cursor: initial;
}
.profy__main__section--overview .section--overview__form--date-wrap .proposed-schedule-txt {
  display: block;
  padding: 0 1em 0.3em 0;
  border-bottom: 1px solid var(--clr-separator-brdr);
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.profy__main__section--overview .section--overview__form--date {
  margin-top: 2rem;
  max-width: 90%;
}
.profy__main__section--overview .section--overview__form--date label {
  display: block;
}
.profy__main__section--overview .section--overview__form--date .overview__change-btn {
  margin-left: auto;
}
.profy__main__section--overview .section--overview__form--date .duedate-note {
  cursor: help;
  margin-left: 0.3rem;
  font-size: 0.8rem;
}
.profy__main__section--overview .section--overview__form--date:not(:last-child) {
  margin-top: 1.5rem;
}
.profy__main__section--overview .section--overview__form--date__field {
  display: block;
  margin-top: 0.5rem;
  padding: 0.35em 1.5em 0.35em 1em;
  color: var(--clr-primary-txt);
  background-color: var(--clr-input-field);
  outline: 1px solid var(--clr-separator-brdr);
  border-radius: 0.5rem;
  border: none;
  cursor: initial;
}
.profy__main__section--overview .section--overview__form--date__field::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border: 1px solid var(--clr-separator-brdr);
  border-radius: 40%;
}
.profy__main__section--overview .section--overview__form--date__field:focus {
  outline: 1px solid var(--clr-logo-project);
}
.profy__main__section--overview .section--overview__form--date__field:-moz-read-only:focus {
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--overview .section--overview__form--date__field:read-only:focus {
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--overview .section--overview__form--goals {
  max-width: 35ch;
  font-size: 1.2rem;
}
.profy__main__section--overview .section--overview__form--goals label {
  cursor: inherit;
}
.profy__main__section--overview .section--overview__form--goals__field {
  display: block;
  padding: 0.5em 1em 0.5em 0.8em;
  margin-top: 1rem;
  min-width: 35ch;
  max-width: 35ch;
  max-height: 14rem;
  min-height: 14rem;
  font-size: 1.15rem;
  overflow: hidden auto;
  resize: none;
  color: var(--clr-primary-txt);
  background-color: var(--clr-input-field);
  outline: 1px solid var(--clr-separator-brdr);
  border-radius: 0.5rem;
  border: none;
}
.profy__main__section--overview .section--overview__form--goals__field:focus {
  outline: 1px solid var(--clr-logo-project);
}
.profy__main__section--overview .section--overview__form--goals__field:-moz-read-only:focus {
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--overview .section--overview__form--goals__field:read-only:focus {
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--overview .section--overview__form--goals .overview__change-btn {
  margin-left: auto;
}
.profy__main__section--overview .section--overview__progress {
  padding: 1em 1em 2em 1em;
}
.profy__main__section--overview .section--overview__progress .circle {
  --circle-size: 10rem;
  --circumference: 27.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--circle-size);
  aspect-ratio: 1;
  isolation: isolate;
}
.profy__main__section--overview .section--overview__progress .circle svg {
  display: block;
  height: var(--circle-size);
  width: var(--circle-size);
  transform: rotate(90deg) scaleX(-1);
}
.profy__main__section--overview .section--overview__progress .circle svg circle {
  height: var(--circle-size);
  width: var(--circle-size);
  fill: none;
  stroke-width: 6;
  stroke-dasharray: var(--circumference);
  shape-rendering: geometricPrecision;
  transition: 1s ease;
}
.profy__main__section--overview .section--overview__progress .circle .circleTrack {
  stroke-dashoffset: 0;
  stroke: var(--clr-separator-brdr);
}
.profy__main__section--overview .section--overview__progress .circle .circleThumb {
  stroke-dashoffset: calc(var(--circumference) - var(--circumference) * var(--value, 73) / 100);
  stroke-width: 10;
}
.profy__main__section--overview .section--overview__progress__time-elasped {
  padding: 0.3em 2.5em;
  background-color: var(--clr-sidebar-bg);
  border-radius: 1rem;
  font-size: 1.2rem;
}
.profy__main__section--overview .section--overview__progress__time-elasped--txt {
  padding: 0.5em 1em;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profy__main__section--overview .section--overview__progress__time-elasped--circle {
  display: grid;
  place-items: center;
  position: relative;
  padding-block: 0.2em 0.5em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__time-elasped--circle .circleThumb--time {
  stroke: #00aeff;
}
.profy__main__section--overview .section--overview__progress__time-elasped--circle [data-time-progress] {
  display: grid;
  place-items: center;
  position: absolute;
  top: 25%;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  cursor: text;
  color: var(--clr-inactive-txt);
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__time-elasped--circle [data-time-progress] div:last-child {
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}
.profy__main__section--overview .section--overview__progress__work-done {
  margin-block: 2rem 0;
  padding: 0.3em 2em;
  background-color: var(--clr-sidebar-bg);
  border-radius: 1rem;
  font-size: 1.2rem;
}
.profy__main__section--overview .section--overview__progress__work-done--txt {
  padding: 0.5em 1em;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profy__main__section--overview .section--overview__progress__work-done--circle {
  display: grid;
  place-items: center;
  position: relative;
  padding-block: 0.2em 0.5em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__work-done--circle .circleThumb--work {
  stroke: #ff455d;
}
.profy__main__section--overview .section--overview__progress__work-done--circle [data-work-progress] {
  display: grid;
  place-items: center;
  position: absolute;
  top: 25%;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  cursor: text;
  color: var(--clr-inactive-txt);
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__work-done--circle [data-work-progress] div:last-child {
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}

.profy__main__section--ideas {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-block: 3rem;
}
.profy__main__section--ideas--formContainer {
  display: block;
  position: relative;
  margin-block: 0 auto;
  padding: 1em 1.2em;
  min-width: 18rem;
  max-width: 18rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 0.5rem;
  transition: 300ms ease max-height;
  background-color: var(--clr-sidebar-bg);
}
.profy__main__section--ideas--formContainer.collapsed {
  padding: 1.5em 1.2em;
  max-height: 3rem;
  overflow: hidden;
}
.profy__main__section--ideas--formContainer.collapsed .reveal {
  --margin-b: .6rem;
}
.profy__main__section--ideas--formContainer.collapsed .ideas-illustrate-txt {
  display: none;
}
.profy__main__section--ideas--formContainer.collapsed .ideas-form {
  display: none;
}
.profy__main__section--ideas--formContainer .reveal {
  --margin-b: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  inset: auto auto 0 0;
  margin: 0 0 var(--margin-b) 1rem;
  padding: 0.3em 0.7em;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
  transition: 0.1s ease;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .reveal:hover {
  background-color: var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .reveal > * {
  pointer-events: none;
}
.profy__main__section--ideas--formContainer .reveal__txt {
  color: var(--clr-primary-txt);
}
.profy__main__section--ideas--formContainer .reveal__txt span {
  display: none;
}
.profy__main__section--ideas--formContainer .reveal__txt.hide .reveal__txt--hide {
  display: inline;
}
.profy__main__section--ideas--formContainer .reveal__txt.show .reveal__txt--show {
  display: inline;
}
.profy__main__section--ideas--formContainer .reveal__icon {
  color: var(--clr-primary-icon);
  transition: 0.3s ease;
}
.profy__main__section--ideas--formContainer .reveal__icon.rotate {
  transform: rotate(180deg);
}
.profy__main__section--ideas--formContainer .ideas-illustrate-txt {
  display: block;
  max-width: 32ch;
  font-size: 0.98rem;
  font-family: "Roboto", sans-serif;
  color: var(--clr-primary-txt);
}
.profy__main__section--ideas--formContainer .ideas-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-block: 1.5rem 0;
}
.profy__main__section--ideas--formContainer .ideas-form__description--field {
  display: block;
  padding: 0.5em 0.8em;
  width: 100%;
  min-height: 5rem;
  overflow: hidden auto;
  border-radius: 0.5rem;
  color: var(--clr-primary-txt);
  background-color: var(--clr-ternary-bg);
  resize: none;
  border: none;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__description--field:focus {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUrl.notouch {
  pointer-events: none;
}
.profy__main__section--ideas--formContainer .ideas-form__imgUrl--field {
  display: block;
  padding: 0.5em 0.8em;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--clr-primary-txt);
  background-color: var(--clr-ternary-bg);
  border: none;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUrl--field:focus {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload.notouch {
  pointer-events: none;
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload .linkOrUpload-txt {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: var(--clr-inactive-txt);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload--field {
  display: block;
  padding: 0.2em;
  max-width: 100%;
  color: var(--clr-primary-txt);
  border: none;
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload--field::-webkit-file-upload-button {
  margin-right: 1rem;
  padding: 0.5em 1em;
  color: var(--clr-primary-txt);
  background-color: var(--clr-ternary-bg);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload--field::file-selector-button {
  margin-right: 1rem;
  padding: 0.5em 1em;
  color: var(--clr-primary-txt);
  background-color: var(--clr-ternary-bg);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload--field::-webkit-file-upload-button:hover {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload--field::file-selector-button:hover {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload__preview {
  display: none;
  margin-top: 0.7rem;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 17/9;
  border-radius: 0.5rem;
  overflow: hidden;
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload__preview--src {
  display: block;
  transition: 0.3s ease;
}
.profy__main__section--ideas--formContainer .ideas-form__imgUpload__preview--src:hover {
  transform: scale(1.05);
}
.profy__main__section--ideas--formContainer .ideas-form__submit {
  font-size: 0.95rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 0 0 auto;
}
.profy__main__section--ideas--formContainer .ideas-form__submit--btn {
  padding: 0.45em 1em;
  color: var(--prim-btn-clr);
  background-color: var(--prim-btn-clr-bg);
  border: none;
  border-radius: 0.8rem;
  transition: 0.1s ease;
}
.profy__main__section--ideas--formContainer .ideas-form__submit--btn:hover {
  transform: translateY(0.1rem);
}
.profy__main__section--ideas--ideasContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2.5rem 2rem;
}
.profy__main__section--ideas--ideasContainer .idea {
  position: relative;
  isolation: isolate;
  max-width: 20rem;
  margin-bottom: auto;
  padding-block: 0.2em 0.8em;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--clr-sidebar-bg);
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap {
  display: block;
  position: relative;
  isolation: isolate;
  z-index: 72;
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--icon {
  display: block;
  position: absolute;
  right: 0;
  margin-inline: auto 0;
  padding: 0.6em 0.5em 0.7em 0.7em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
  color: var(--clr-primary-icon);
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--icon > * {
  pointer-events: none;
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options {
  position: absolute;
  right: 0;
  margin: 2.5rem 0.5rem 0 0;
  padding-block: 0.4rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--clr-ternary-bg);
  border: 1px solid var(--clr-separator-brdr);
  transition: 0.2s ease, 0.1s ease opacity;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.5rem);
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options[aria-hidden=false] {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--edit, .profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--delete {
  padding-block: 0.3em;
  padding-inline: 1em 1.5em;
  cursor: pointer;
  transition: 0.1s ease;
  color: var(--clr-primary-txt);
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--edit > *, .profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--delete > * {
  pointer-events: none;
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--edit:hover, .profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--delete:hover {
  background-color: var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .idea .idea__options--wrap .idea__options--delete {
  color: var(--clr-signout-txt);
}
.profy__main__section--ideas--ideasContainer .idea__description {
  display: block;
  position: relative;
  isolation: isolate;
  z-index: 62;
  padding-left: 0.7rem;
  margin-inline: 0 auto;
  max-width: 95%;
  width: 100%;
}
.profy__main__section--ideas--ideasContainer .idea__description__content {
  display: block;
  margin-inline: 0;
  padding: 0.2em 0.5em;
  max-width: 100%;
  width: 100%;
  max-height: 6rem;
  overflow-y: auto;
  background-color: transparent;
  color: var(--clr-primary-txt);
  cursor: text;
  border-radius: 0.5rem;
  scrollbar-width: thin;
  overflow-wrap: break-word;
}
.profy__main__section--ideas--ideasContainer .idea__description__date {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.2em 0.8em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: auto;
  font-size: 0.9rem;
  border-radius: 1rem;
  color: var(--clr-inactive-txt);
  background-color: var(--clr-secondary-bg);
}
.profy__main__section--ideas--ideasContainer .idea__img {
  display: block;
  margin-inline: auto;
  margin-block: 0.7rem 0;
  width: 90%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.profy__main__section--ideas--ideasContainer [data-ideaEdit-modal] {
  position: fixed;
  margin-block: auto;
  margin-inline: auto;
  padding: 0.2em;
  isolation: isolate;
  border: none;
  overflow: hidden;
  background-color: transparent;
}
.profy__main__section--ideas--ideasContainer [data-ideaEdit-modal]:not([open]) {
  display: none;
}
.profy__main__section--ideas--ideasContainer [data-ideaEdit-modal]::-webkit-backdrop {
  background-color: hsla(0deg, 0%, 0%, 0.6);
}
.profy__main__section--ideas--ideasContainer [data-ideaEdit-modal]::backdrop {
  background-color: hsla(0deg, 0%, 0%, 0.6);
}
.profy__main__section--ideas--ideasContainer .edit__idea {
  position: relative;
  isolation: isolate;
  min-width: 18rem;
  max-width: 18rem;
  overflow: hidden;
  border-radius: 0.8rem;
  background-color: var(--clr-sidebar-bg);
  border: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__header {
  display: flex;
  align-items: center;
  padding-block: 0.5em;
  padding-inline: 1em;
  border-bottom: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__header--txt {
  color: var(--clr-primary-txt);
  margin-left: auto;
  word-spacing: 0.3rem;
  font-size: 1.2rem;
}
.profy__main__section--ideas--ideasContainer .edit__idea__header--cancelIcon {
  display: block;
  margin-inline: auto 0;
  font-size: 1.1rem;
  padding: 0.3em;
  background-color: var(--clr-separator-brdr);
  color: var(--clr-inactive-txt);
  border-radius: 50%;
  cursor: pointer;
}
.profy__main__section--ideas--ideasContainer .edit__idea__header--cancelIcon > * {
  pointer-events: none;
}
.profy__main__section--ideas--ideasContainer .edit__idea__description {
  display: block;
  position: relative;
  margin-block: 0.8rem 1.2rem;
  padding-inline: 0.7rem;
  max-width: 100%;
  width: 100%;
}
.profy__main__section--ideas--ideasContainer .edit__idea__description__content {
  display: block;
  padding: 0.2em 0.6em;
  max-width: 100%;
  width: 100%;
  min-height: 8rem;
  max-height: 8rem;
  overflow: hidden auto;
  resize: none;
  background-color: transparent;
  color: var(--clr-primary-txt);
  border: none;
  cursor: text;
  border-radius: 0.5rem;
  scrollbar-width: thin;
  overflow-wrap: break-word;
}
.profy__main__section--ideas--ideasContainer .edit__idea__description__content:focus {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__description__content::-webkit-resizer {
  display: none;
  background-color: var(--clr-ternary-bg);
}
.profy__main__section--ideas--ideasContainer .edit__idea__img {
  padding-inline: 0.7em;
  max-width: 100%;
  width: 100%;
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--url, .profy__main__section--ideas--ideasContainer .edit__idea__img--upload {
  display: none;
}
.profy__main__section--ideas--ideasContainer .edit__idea__img.url .edit__idea__img--url {
  display: block;
}
.profy__main__section--ideas--ideasContainer .edit__idea__img.upload .edit__idea__img--upload {
  display: block;
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--url {
  padding: 0.4em 0.8em;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--clr-primary-txt);
  background-color: var(--clr-ternary-bg);
  border: none;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--url:focus {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--upload--preview {
  margin-block: 0 0.7rem;
  margin-inline: auto;
  max-width: 98%;
  width: 100%;
  aspect-ratio: 18/9;
  border-radius: 0.5rem;
  overflow: hidden;
  color: var(--clr-primary-txt);
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--upload--preview--src {
  display: block;
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--upload--btn {
  display: block;
  padding: 0.2em;
  max-width: 100%;
  color: var(--clr-primary-txt);
  border: none;
  cursor: pointer;
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--upload--btn::-webkit-file-upload-button {
  margin-right: 1rem;
  padding: 0.5em 1em;
  color: var(--clr-primary-txt);
  background-color: var(--clr-ternary-bg);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--upload--btn::file-selector-button {
  margin-right: 1rem;
  padding: 0.5em 1em;
  color: var(--clr-primary-txt);
  background-color: var(--clr-ternary-bg);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--upload--btn::-webkit-file-upload-button:hover {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__img--upload--btn::file-selector-button:hover {
  outline: 2px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .edit__idea__save {
  font-size: 1rem;
  margin-block: 2rem 1rem;
  margin-inline: 0 0.8rem;
}
.profy__main__section--ideas--ideasContainer .edit__idea__save-btn {
  display: block;
  padding: 0.35em 2em;
  margin-inline: auto 0;
  color: var(--prim-btn-clr);
  background-color: var(--prim-btn-clr-bg);
  border-radius: 0.5rem;
  border: none;
  transition: 0.1s ease;
}
.profy__main__section--ideas--ideasContainer .edit__idea__save-btn:hover {
  background-color: hsla(199deg, 100%, 50%, 0.4);
}
.profy__main__section--ideas--ideasContainer [data-ideaDelete-modal] {
  position: fixed;
  margin-block: auto;
  margin-inline: auto;
  isolation: isolate;
  border: none;
  overflow: hidden;
  background-color: transparent;
}
.profy__main__section--ideas--ideasContainer [data-ideaDelete-modal]:not([open]) {
  display: none;
}
.profy__main__section--ideas--ideasContainer [data-ideaDelete-modal]::-webkit-backdrop {
  background-color: hsla(0deg, 0%, 0%, 0.7);
}
.profy__main__section--ideas--ideasContainer [data-ideaDelete-modal]::backdrop {
  background-color: hsla(0deg, 0%, 0%, 0.7);
}
.profy__main__section--ideas--ideasContainer .delete__idea {
  position: relative;
  isolation: isolate;
  min-width: 17rem;
  max-width: 17rem;
  overflow: hidden;
  border-radius: 0.8rem;
  background-color: var(--clr-sidebar-bg);
  border: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .delete__idea__header {
  display: flex;
  align-items: center;
  padding-block: 0.5em;
  padding-inline: 1em;
  border-bottom: 1px solid var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .delete__idea__header--txt {
  margin-left: auto;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  color: var(--clr-primary-txt);
}
.profy__main__section--ideas--ideasContainer .delete__idea__header--cancelIcon {
  display: block;
  margin-inline: auto 0;
  padding: 0.3em;
  font-size: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--clr-inactive-txt);
  background-color: var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .delete__idea__header--cancelIcon > * {
  pointer-events: none;
}
.profy__main__section--ideas--ideasContainer .delete__idea__description {
  display: block;
  position: relative;
  margin-block: 0.8rem 1rem;
  padding-inline: 1rem;
  max-width: 100%;
  width: 100%;
}
.profy__main__section--ideas--ideasContainer .delete__idea__description__txt {
  line-height: 1.7;
  color: var(--clr-primary-txt);
  margin-bottom: 0.7rem;
}
.profy__main__section--ideas--ideasContainer .delete__idea__description__btns {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
}
.profy__main__section--ideas--ideasContainer .delete__idea__description__btns button {
  padding: 0.25em 0.8em;
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--clr-primary-txt);
  outline: none;
  border: none;
  transition: 0.15s ease;
}
.profy__main__section--ideas--ideasContainer .delete__idea__description__btns button:hover {
  background-color: var(--clr-separator-brdr);
}
.profy__main__section--ideas--ideasContainer .delete__idea__description__btns button[type=submit] {
  margin-left: 0.2rem;
  color: var(--clr-signout-txt);
  background-color: var(--clr-signout-bg);
}
.profy__main__section--ideas--ideasContainer .delete__idea__description__btns button[type=submit]:hover {
  background-color: var(--clr-signout-bg-hover);
}/*# sourceMappingURL=homeStyles.css.map */;
  padding-block: 0.2em 0.5em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__time-elasped--circle .circleThumb--time {
  stroke: #00aeff;
}
.profy__main__section--overview .section--overview__progress__time-elasped--circle [data-time-progress] {
  display: grid;
  place-items: center;
  position: absolute;
  top: 25%;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  cursor: text;
  color: var(--clr-inactive-txt);
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__time-elasped--circle [data-time-progress] div:last-child {
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}
.profy__main__section--overview .section--overview__progress__work-done {
  margin-block: 2rem 0;
  padding: 0.3em 2em;
  background-color: var(--clr-sidebar-bg);
  border-radius: 1rem;
  font-size: 1.2rem;
}
.profy__main__section--overview .section--overview__progress__work-done--txt {
  padding: 0.5em 1em;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profy__main__section--overview .section--overview__progress__work-done--circle {
  display: grid;
  place-items: center;
  position: relative;
  padding-block: 0.2em 0.5em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__work-done--circle .circleThumb--work {
  stroke: #ff455d;
}
.profy__main__section--overview .section--overview__progress__work-done--circle [data-work-progress] {
  display: grid;
  place-items: center;
  position: absolute;
  top: 25%;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  cursor: text;
  color: var(--clr-inactive-txt);
  margin-inline: auto;
}
.profy__main__section--overview .section--overview__progress__work-done--circle [data-work-progress] div:last-child {
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}/*# sourceMappingURL=homeStyles.css.map */