/* ubuntu-400 */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-regular.woff") format("woff");
  font-display: swap;
}
/* ubuntu-500 */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-500.woff") format("woff");
  font-display: swap;
}
/* roboto-400 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  font-display: swap;
}
/* roboto-500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-scroll-chaining: chained;
      overscroll-behavior: auto;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img, svg {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

input, button,
textarea, select {
  font: inherit;
}

p,
h1, h2,
h3, h4,
h5, h6,
textarea {
  overflow-wrap: break-word;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: grid;
  place-items: center;
}

.hidden {
  visibility: hidden;
}

.full-hide {
  display: none;
}

body {
  font-family: sans-serif;
  min-width: 100%;
}
body ::-moz-selection {
  background-color: hsl(199deg, 100%, 37%);
  color: #fff;
}
body ::selection {
  background-color: hsl(199deg, 100%, 37%);
  color: #fff;
}

#root {
  display: block;
  margin-block: auto;
  min-height: 100vh;
  isolation: isolate;
  background-color: #fff;
}
@media (min-width: 40em) {
  #root {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 64em) {
  #root {
    max-height: 100vh;
    max-width: 100%;
    width: 100%;
    padding: 0 0 0 2.3rem;
    overflow-y: hidden;
  }
}

.signup {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  background-color: hsl(258deg, 100%, 76%);
}
@media (min-width: 40em) {
  .signup {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    background-color: #fff;
    padding: 0 0rem 0 1rem;
  }
}
@media (min-width: 64em) {
  .signup {
    padding: 0 0rem 0 2rem;
  }
}

.signup__form-header {
  margin-bottom: 2.5rem;
  color: #444;
  text-align: left;
  font-size: clamp(1.02rem, 3.2vmin, 1.09rem);
}
@media (min-width: 40em) {
  .signup__form-header {
    margin-bottom: 2rem;
  }
}
@media (min-width: 64em) {
  .signup__form-header {
    margin-bottom: 3.5rem;
  }
}
.signup__form-header .signup-text {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: clamp(1.55rem, 5vmin, 2.6rem);
  color: #555;
}

.signup__form-wrapper {
  flex: 1 1 80%;
  padding: 1.3rem;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  color: #444;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 0.6rem hsla(0deg, 0%, 0%, 0.3);
}
@media (min-width: 40em) {
  .signup__form-wrapper {
    flex: 1 1 40%;
    max-width: 19.5rem;
    min-width: 15rem;
    width: 100%;
    min-height: 0;
    padding: 0 0.2rem 0 0.5rem;
    box-shadow: none;
  }
}
@media (min-width: 64em) {
  .signup__form-wrapper {
    max-width: 24rem;
    min-width: 19rem;
    flex: 1 1 30%;
    padding: 0 0.7rem;
  }
}

.signup__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem 1rem 0 0;
  min-width: 100%;
}
@media (min-width: 64em) {
  .signup__form {
    gap: 1.2rem;
    min-width: 100%;
  }
}
.signup__form .client-validate {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 1em;
  font-size: 0.75rem;
  color: hsl(0deg, 100%, 68%);
  background-color: transparent;
}
.signup__form .client-validate.client-validate--email {
  font-size: 0.8rem;
}
.signup__form__field--error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.25em 1em;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  color: hsl(0deg, 100%, 68%);
  background-color: hsla(0deg, 100%, 67%, 0.2);
}
.signup__form__field--error .field_error-cross {
  cursor: pointer;
}
.signup__form__name-wrapper {
  display: block;
  width: 100%;
  font-weight: 600;
  color: #555;
}
.signup__form__name-cont {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-top: 0.4rem;
  max-width: 100%;
  width: 100%;
  font-weight: 400;
}
.signup__form__name {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em 0.7em;
  max-width: 12rem;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: 1px solid #cdcdcd;
  border-radius: 0.5rem;
}
.signup__form__name:focus {
  outline: 2px solid hsl(258deg, 100%, 76%);
}
.signup__form__name.wrong-input:focus {
  outline: 2px solid hsl(0deg, 100%, 68%);
}
@media (min-width: 40em) {
  .signup__form__name {
    max-width: 10rem;
  }
}
@media (min-width: 64em) {
  .signup__form__name {
    max-width: 11rem;
  }
}
.signup__form__email-wrapper {
  width: 100%;
  font-weight: 600;
  color: #555;
}
.signup__form__email {
  display: block;
  margin-top: 0.4rem;
  padding: 0.5em 0.5em 0.5em 0.7em;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  outline: 1px solid #cdcdcd;
  border-radius: 0.5rem;
}
.signup__form__email:focus {
  outline: 2px solid hsl(258deg, 100%, 76%);
}
.signup__form__email.wrong-input:focus {
  outline: 2px solid hsl(0deg, 100%, 68%);
}
.signup__form__password-wrapper {
  width: 100%;
  margin: 0.2rem 0 0.3rem 0;
  font-weight: 600;
  color: #555;
}
@media (min-width: 64em) {
  .signup__form__password-wrapper {
    margin: 0 0 0.4rem 0;
  }
}
.signup__form__password-wrapper .show-password {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 1.3rem 0 0 0.5rem;
  font-weight: 400;
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}
.signup__form__password-wrapper .show-password #pwd-checkbox {
  margin: 0 1rem 0 0;
  padding: 0 0.2rem;
  cursor: pointer;
  aspect-ratio: 1;
  height: 1rem;
  width: 1rem;
  accent-color: hsl(258deg, 100%, 70%);
}
.signup__form__password-cont {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  max-width: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}
.signup__form__password {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em 0.7em;
  max-width: 12rem;
  width: 100%;
  margin-top: 0.4rem;
  border: none;
  border-radius: 0.5rem;
  outline: 1px solid #cdcdcd;
  border-radius: 0.5rem;
}
.signup__form__password:focus {
  outline: 2px solid hsl(258deg, 100%, 76%);
}
.signup__form__password.wrong-input:focus {
  outline: 2px solid hsl(0deg, 100%, 68%);
}
@media (min-width: 40em) {
  .signup__form__password {
    max-width: 10rem;
  }
}
@media (min-width: 64em) {
  .signup__form__password {
    max-width: 11rem;
  }
}
.signup__form__submit-btn {
  display: block;
  padding: 0.6em 0.75em;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  color: hsl(258deg, 100%, 70%);
  background-color: hsla(258deg, 100%, 76%, 0.3);
  transition: 0.3s background-color;
}
.signup__form__submit-btn:hover {
  background-color: hsla(258deg, 100%, 76%, 0.4);
}

.signup__form--signinurl {
  display: block;
  position: relative;
  margin-top: 2.7rem;
  margin-left: auto;
  font-size: clamp(1.02rem, 3.2vmin, 1.1rem);
  color: #555;
}
.signup__form--signinurl a {
  position: relative;
  color: hsl(199deg, 100%, 47%);
  transition: 0.2s color;
}
.signup__form--signinurl a:hover {
  color: hsl(199deg, 100%, 38%);
}

.signup__banner {
  display: block;
  margin-top: -40%;
  flex: 0 1 20%;
  padding: 0;
  background: linear-gradient(to bottom, #00aeff, #a985ff 80%);
}
@media (min-width: 40em) {
  .signup__banner {
    flex: 1 1 60%;
    margin-top: 0;
    padding: 0 0rem 0 1.5rem;
    max-width: 100%;
    min-height: inherit;
    background: linear-gradient(#fff, #fff);
  }
}
@media (min-width: 64em) {
  .signup__banner {
    padding: 0 0rem 0 2.3rem;
    flex: 1 1 70%;
    min-height: inherit;
    margin-left: auto;
    max-width: 100%;
  }
}
.signup__banner__caption {
  font-size: 1.1rem;
}
.signup__banner__img-wrap {
  display: grid;
  place-items: center;
  min-height: 50%;
}
@media (min-width: 40em) {
  .signup__banner__img-wrap {
    min-height: inherit;
    min-width: 100%;
  }
}
@media (min-width: 64em) {
  .signup__banner__img-wrap {
    min-height: inherit;
    min-width: 100%;
  }
}
.signup__banner__img {
  opacity: 0;
  transition: 0.3s opacity;
}
@media (min-width: 40em) {
  .signup__banner__img {
    max-height: 100%;
    height: 100%;
    opacity: 1;
    margin-left: auto;
  }
}/*# sourceMappingURL=signupStyles.css.map */