/* ubuntu-400 */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-regular.woff") format("woff");
  font-display: swap;
}
/* ubuntu-500 */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("../fonts/ubuntu-v20-latin-500.woff") format("woff");
  font-display: swap;
}
/* roboto-400 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  font-display: swap;
}
/* roboto-500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-scroll-chaining: chained;
      overscroll-behavior: auto;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img, svg {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

input, button,
textarea, select {
  font: inherit;
}

p,
h1, h2,
h3, h4,
h5, h6,
textarea {
  overflow-wrap: break-word;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: grid;
  place-items: center;
}

.hidden {
  visibility: hidden;
}

.full-hide {
  display: none;
}

span svg {
  pointer-events: none;
}

.wrong-input {
  outline: 2px solid #ff8282;
}

/* Custom styles */
body {
  font-family: sans-serif;
  min-width: 100%;
  transition: 0.2s font-size;
}
body ::-moz-selection {
  background-color: #0081bd;
  color: #fff;
}
body ::selection {
  background-color: #0081bd;
  color: #fff;
}
@media (min-width: 64em) {
  body {
    overflow-y: hidden;
  }
}

#root {
  display: block;
  margin-block: auto;
  min-height: 100vh;
  isolation: isolate;
  background-color: #fff;
}
@media (min-width: 40em) {
  #root {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 64em) {
  #root {
    max-height: 100vh;
    max-width: 100%;
    width: 100%;
    padding: 0 0 0 2.3rem;
    overflow-y: hidden;
  }
}

.signin {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0rem;
  position: relative;
  isolation: isolate;
  z-index: 100;
  background-color: #00aeff;
  min-height: inherit;
}
@media (min-width: 40em) {
  .signin {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    padding: 0 0rem 0 1rem;
    background-color: #fff;
    overflow-y: hidden;
  }
}
@media (min-width: 64em) {
  .signin {
    gap: 2.5rem;
    padding: 0 0rem 0 2rem;
  }
}

.profy__logo {
  position: relative;
  isolation: isolate;
  z-index: 112;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: 0 auto;
  margin-block: 0 2rem;
  transition: 0.2s ease;
}
@media (min-width: 40em) {
  .profy__logo {
    position: absolute;
    top: 2rem;
    margin-inline: auto;
  }
}

.signin__form-header {
  margin-bottom: 2.5rem;
  color: #444;
  text-align: left;
  font-size: clamp(1.02rem, 3.2vmin, 1.09rem);
}
@media (min-width: 64em) {
  .signin__form-header {
    margin-bottom: 3.5rem;
  }
}
.signin__form-header .signin-text {
  font-family: sans-serif;
  font-weight: 700;
  color: #555;
  font-size: clamp(1.65rem, 5vmin, 2.6rem);
  margin-bottom: 1rem;
}

.signin__form-wrapper {
  flex: 1 1 80%;
  padding: 1.3rem;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  color: #444;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 0.6rem hsla(0deg, 0%, 0%, 0.3);
}
@media (min-width: 40em) {
  .signin__form-wrapper {
    flex: 1 1 40%;
    max-width: 21rem;
    min-width: 17rem;
    width: 100%;
    min-height: 0;
    padding: 0 0rem 0 0.5rem;
    box-shadow: none;
  }
}
@media (min-width: 64em) {
  .signin__form-wrapper {
    max-width: 21rem;
    min-width: 18rem;
    flex: 1 1 30%;
    padding: 0 0.2rem 0 1rem;
  }
}

.signin__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.7rem;
  border-radius: 1rem 1rem 0 0;
  min-width: 100%;
}
@media (min-width: 64em) {
  .signin__form {
    gap: 1.5rem;
    min-width: 100%;
  }
}
.signin__form .client-validate {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 1em;
  font-size: 0.75rem;
  color: hsl(0deg, 100%, 68%);
  background-color: transparent;
}
.signin__form .client-validate.client-validate--email {
  font-size: 0.8rem;
}
.signin__form .client-validate.error {
  display: block;
}
.signin__form__field--error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.25em 1em;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  color: hsl(0deg, 100%, 68%);
  background-color: hsla(0deg, 100%, 67%, 0.2);
}
.signin__form__field--error .field_error-cross {
  cursor: pointer;
}
.signin__form__email-wrapper {
  width: 100%;
  font-weight: 600;
  color: #555;
}
.signin__form__email {
  display: block;
  margin-top: 0.4rem;
  padding: 0.7em;
  width: 100%;
  font-weight: 400;
  font-size: 1.02rem;
  border: none;
  outline: 1px solid #cdcdcd;
  border-radius: 0.5rem;
}
.signin__form__email:focus {
  outline: 2px solid hsl(199deg, 100%, 50%);
}
.signin__form__email.wrong-input:focus {
  outline: 2px solid hsl(0deg, 100%, 68%);
}
.signin__form__password-wrapper {
  width: 100%;
  margin: 1rem 0 0.3rem 0;
  font-weight: 600;
  color: #555;
}
@media (min-width: 64em) {
  .signin__form__password-wrapper {
    margin-bottom: 0.7rem;
  }
}
.signin__form__password-wrapper .min_pwdsize {
  text-align: center;
  font-size: 0.78rem;
  margin-left: 0.15rem;
  font-weight: 400;
}
.signin__form__password-cont {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
}
.signin__form__password {
  display: block;
  margin-top: 0.4rem;
  padding: 0.7em 2.45em 0.7em 0.7em;
  width: 100%;
  font-weight: 400;
  font-size: 1.02rem;
  border: none;
  outline: 1px solid #cdcdcd;
  border-radius: 0.5rem;
}
.signin__form__password:focus {
  border: none;
  outline: 2px solid hsl(199deg, 100%, 50%);
}
.signin__form__password.wrong-input:focus {
  outline: 2px solid hsl(0deg, 100%, 68%);
}
.signin__form__show-password {
  position: absolute;
  inset: 0 0 auto auto;
  isolation: isolate;
  transform: translateX(-30%) translateY(43%);
  padding: 0.2em 0.3em 0.2em 0.2em;
  font-size: 1.2rem;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s opacity, 0.2s display;
}
.signin__form__show-password span {
  pointer-events: none;
}
.signin__form__show-password .pwd-show, .signin__form__show-password .pwd-hide {
  display: none;
}
.signin__form__show-password.showPwd .pwd-show {
  display: block;
}
.signin__form__show-password.hidePwd .pwd-hide {
  display: block;
}
.signin__form__show-password.visible {
  opacity: 1;
  pointer-events: all;
}
.signin__form__submit-btn {
  display: block;
  padding: 0.55em 0.75em;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  color: hsl(199deg, 100%, 38%);
  background-color: hsla(199deg, 100%, 50%, 0.3);
  transition: 0.3s background-color;
}
.signin__form__submit-btn:hover {
  background-color: hsla(199deg, 100%, 50%, 0.45);
}

.signin__form--signupurl {
  --url-clr: hsl(258 64% 60%);
  display: block;
  position: relative;
  margin-top: 3rem;
  margin-left: auto;
  font-size: clamp(1.02rem, 3.2vmin, 1.1rem);
  color: #555;
}
.signin__form--signupurl a {
  position: relative;
  color: var(--url-clr);
  transition: 0.2s color;
}
.signin__form--signupurl a:hover {
  color: hsl(258deg, 64%, 67%);
}

.signin__banner {
  display: block;
  margin-top: -45%;
  flex: 0 1 20%;
  padding: 0;
  background-image: linear-gradient(to bottom, #a985ff 58%, #00aeff);
}
@media (min-width: 40em) {
  .signin__banner {
    flex: 1 1 60%;
    margin-top: 0;
    padding: 0 0rem 0 1rem;
    max-width: 100%;
    min-height: inherit;
    background: linear-gradient(#fff, #fff);
  }
}
@media (min-width: 64em) {
  .signin__banner {
    padding: 0 0rem 0 3rem;
    flex: 1 1 70%;
    min-height: inherit;
    margin-left: auto;
    max-width: 100%;
    overflow-y: hidden;
  }
}
.signin__banner__caption {
  font-size: 1.1rem;
}
.signin__banner__img-wrap {
  display: grid;
  place-items: center;
  min-height: 50%;
}
@media (min-width: 40em) {
  .signin__banner__img-wrap {
    min-height: inherit;
    min-width: 100%;
  }
}
@media (min-width: 64em) {
  .signin__banner__img-wrap {
    min-height: inherit;
    min-width: 100%;
    overflow-y: hidden;
  }
}
.signin__banner__img {
  opacity: 0;
  transition: 0.3s opacity;
}
@media (min-width: 40em) {
  .signin__banner__img {
    max-height: 100%;
    height: 100%;
    opacity: 1;
    margin-left: auto;
  }
}/*# sourceMappingURL=signinStyles.css.map */