@use '../../../../frontend/sass/components/' as *;

.profy__projects {
  // display: none;
  display: block;
  grid-area: main;

  padding-inline: 1.2rem;
  padding-block: 1.5em 6em;

  min-width: 100%;
  width: 100%;
  overflow-y: auto;

  color: var(--clr-secondary-txt);
  font-family: $font-secondary-r;
  background-color: var(--clr-secondary-bg);

  @include breakpoint(medium) {
    max-height: calc(100vh - var(--top-margin));
    min-height: calc(100vh - var(--top-margin));
    padding-inline: 1.8rem 2rem;
    padding-block: 3em;
  }

  @include breakpoint(large) {
    padding-inline: 4rem 4.5rem;
    padding-block: 4em;
  }


  &__header {
    display: flex;
    align-items: center;

    margin-bottom: 2rem;
    
    &__txt {
      max-width: fit-content;
      font-size: clamp(1.7rem, 4.5vmin, 4rem);
      font-weight: 500;
      font-family: $font-primary-u;
      color: var(--clr-primary-txt);
    }

    & [data-add-item] {
      display: flex;
      align-items: center;
      gap: .5rem;

      margin-inline: auto 0;
      padding: .55em .75em;
      border-radius: .7rem;
      color: var(--clr-primary-icon);
      background-color: var(--clr-sidebar-bg);
      outline: 1px solid var(--clr-separator-brdr);
      transition: .2s ease;

      &:hover {
        background-color: var(--clr-separator-brdr);
      }
      cursor: pointer;
      & > * {
        flex-shrink: 0; 
        pointer-events: none; 
      }

      & p { font-size: .9rem; }
    }

  }

  // create project form
  & .newItemForm {
    display: flex;
    flex-direction: column;

    padding-inline: .2rem;
    margin-inline: auto;
    margin-block: 1rem;
    max-width: 85%;
    font-size: 1rem;

    &.hidden {
      display: none;
    }

    & input[type="text"] {
      padding: .4em 1em;

      border: none;
      border-radius: .7rem;
      color: var(--clr-primary-txt);
      background-color: var(--clr-sidebar-bg);
      outline: 1px solid var(--clr-separator-brdr);

      &:focus {
        outline: 2px solid var(--clr-separator-brdr);
      }
    }

    & .field_empty {
      display: none;
      position: relative;
      padding-block: .5rem 0;
      max-width: fit-content;
      margin-inline: auto;
      color: var(--clr-signout-txt);
      font-size: .9rem;
    }

    & .btns-wrapper {
      display: block;
      margin-top: 1.5rem;
      margin-left: auto;
      max-width: fit-content;

      & button {
        padding: .28em .8em;
        border-radius: .7rem;

        border: none;
        color: var(--clr-primary-txt);
        transition: .1s ease;
        background-color: transparent;
        outline: 1px solid transparent;

        &:hover {
          background-color: var(--clr-navlist-hover);
          outline: 1px solid var(--clr-navlist-hover);
        }

        &[data-newItem-btn-save] {
          outline: 1px solid var(--clr-edit-btn-bg);
          margin-left: .4rem;
          color: var(--clr-edit-btn);
          background-color: var(--clr-edit-btn-bg);
          transition: .15s ease;

          &:hover {
            background-color: var(--clr-edit-btn-hover);
          }
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2.5rem;
    
    transition: .2s ease;
    padding-top: 1rem;
  }

  & .project {
    position: relative;
    isolation: isolate;
    padding: .6em .9em;
    margin-inline: .5rem;

    border-radius: .8rem;    
    font-family: $font-secondary-r;
    
    &:hover {
      &::before { opacity: .45; }
    }
    cursor: pointer;
    & > * { pointer-events: none; }
    
    &::before {
      content: '';
      position: absolute;
      inset: 0 auto auto 0;
      z-index: -1;
      
      opacity: .25;
      height: 100%;
      width: 100%;
      pointer-events: none;
      transition: .3s ease;
      border-radius: .8rem;
      background-color: var(--clr-box, hsl(0 64% 60%));
    }


    &__name {
      font-size: clamp(1.4rem, 3vmin, 2.7rem);
      color: var(--clr-ternary-txt);
      color: var(--clr-secondary-txt);
      margin-bottom: .4rem;
      font-weight: 500;
    }

    &__goals {
      position: relative;
      font-size: clamp(.9rem, 2.5vmin, 1.05rem);
      color: var(--clr-inactive-txt2);

      // outline: 1px solid black;
      line-height: 1.4;
      max-height: 3.9rem;
      text-overflow: ellipsis;
      overflow: hidden;

      @include breakpoint(medium) { max-height: fit-content; }

    }

    &__work-progress {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .7rem;

      margin-block: .5rem;

      // border: 1px solid salmon;

      &__bar { 
        flex: 1; 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-radius: 1rem;
        max-height: .5rem;
        overflow: hidden;
        background-color: #fdfdfd;
        overflow: hidden;


        &[value] {
          &::-webkit-progress-bar {
            background-color: #fdfdfd;
          }

          &::-moz-progress-bar {
            background-color: var(--clr-box, hsl(0 64% 60%));
            border-radius: 1rem;
          }
          &::-webkit-progress-value {
            border-radius: 1rem;
            background-color: var(--clr-box, hsl(0 64% 60%));
          }
        }
      }

      &__txt {
        color: var(--clr-secondary-txt);
        font-family: $font-primary-u;
      }
    }

    &__due-date-wrapper {
      margin-inline: auto 0;
      max-width: fit-content;
      font-size: clamp(.85rem, 2.5vmin, .95rem);
      color: var(--clr-ternary-txt);
      font-weight: 500;

      & [data-home-project-due-date] {
        position: relative;
        margin-left: .3rem;

      }
    }

  }


}
