@use '../components/' as *;

.projectfy__sidepanel {
  --top-margin: calc(var(--pad-titlebar) * 4.2);

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1 1 20%;

  position: relative;
  z-index: 52; 
  isolation: isolate;

  margin-block: 0 auto;
  padding-inline: 1em;
  padding-block: var(--top-margin) 2em;

  min-height: 100vh;
  max-height: calc(100vh - var(--top-margin));
  max-width: 17.2rem;
  min-width: 17rem;

  // box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.2);

  font-family: $font-secondary-r;
  background-color: var(--clr-sidebar-bg);
  overflow-y: auto;
  user-select: none;

  scrollbar-width: thin;
  scrollbar-color: var(--clr-sidebar-bg) var(--clr-sidebar-bg);
  &:hover {
    scrollbar-color: var(--clr-scrlbar-thumb) var(--clr-sidebar-bg);
  }
  &::-webkit-scrollbar { width: 1rem; }
  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrlbar-thumb);
    border-radius: 1rem;
    border: .3rem solid var(--clr-scrlbar-track);

    &:hover {
      background-color: var(--clr-scrlbar-thumb-hover);
    }
  }
  &::-webkit-scrollbar-track {
    margin-top: var(--top-margin);
    // margin-top: .5rem;
    background-color: var(--clr-scrlbar-track);
  }

  &__nav {
    // display: flex;
    flex-grow: 1;

    margin: .5rem 0 0 0;
    // padding: 1rem 0;
    // border-top: 1px solid #ddd;

    &__list {
      --icon-gap: 1.5rem;
      --pad-block: .7em;
      --item-gap: .7rem;
      display: block;
      max-width: 100%;
      margin-inline: auto;
    }


    &__list--home {
      display: flex;
      align-items: center;
      gap: 1rem;

      margin-bottom: var(--item-gap);
      padding-block: var(--pad-block);
      padding-inline: .8em 0;
      width: 100%;

      border-radius: $borders;
      // box-shadow: 0 .1rem .3rem hsl(0 0 0 / .3);
      transition: .3s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--clr-navlist-hover);
      }
      &__txt {
        color: var(--clr-primary-txt);
        font-weight: 500;
        pointer-events: none;
      }
      &__icon {
        color: var(--clr-primary-icon);
        font-size: 1.1rem;
        pointer-events: none;
      }
    }

    // projects nav
    &__list--projects {
      border-radius: $borders; 
      margin-bottom: var(--item-gap);

      // overflow: hidden;
      // box-shadow: 0 .1rem .3rem hsl(0 0 0 / .3);
      
      &-container {
        display: flex;
        align-items: center;
        // box-shadow: 0 .1rem .3rem hsl(0 0 0 / .3);
        border-radius: $borders;
        
        transition: .3s ease;
        &:hover {
          background-color: var(--clr-navlist-hover);
        }

        &__add-icon { 
          margin: 0 .4em 0 auto;
          padding: .4em;
          cursor: pointer;
  
          font-size: 1.1rem;
          color: var(--clr-primary-icon);
          // outline: 1px solid red;
          border-radius: 50%;
          transition: .3s ease;
        }
        & svg {
          pointer-events: none;
        }
      }
  
      &-wrapper {
        display: flex;
        align-items: center;
        gap: var(--icon-gap);
        
        padding-block: var(--pad-block);
        padding-inline: .8em;
        max-height: 100%;
        cursor: pointer;
        // outline: 1px solid red;
  
        &__txt {
          color: var(--clr-primary-txt);
          font-weight: 500;
          pointer-events: none;
        }
        &__downarrow-icon {
          color: var(--clr-primary-icon);
          pointer-events: none;
          transition: .3s ease transform;
          transform: rotate(0deg);

          &.rotated {
            transform: rotate(180deg);
          }
        }
      }

      // project r list
      &-list {
        display: block;
        margin-inline: auto 1rem;
        padding: 0 1em 0 .5em;
        width: 95%;
        // max-height: 0;
        height: auto;

        overflow-y: auto;
        margin-top: .5rem;

        transition: .2s ease-in max-height,
        .2s ease opacity;
        &.open {
          // max-height: 12.5rem;
          opacity: 1;
        }
        border-radius: $borders;

        // outline: 1px solid red;

        scrollbar-width: none;
        scrollbar-color: var(--clr-scrlbar-thumb);
        &::-webkit-scrollbar {
          width: 0;
        }
        &:hover::-webkit-scrollbar {
          width: 1rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--clr-scrlbar-thumb);
          border-radius: 1rem;
          border: .3rem solid var(--clr-scrlbar-track);

          &:hover {
            background-color: var(--clr-scrlbar-thumb-hover);
          }
        }
        &::-webkit-scrollbar-track {
          background-color: var(--clr-scrlbar-track);
        }
        &:hover {
          scrollbar-width: thin;
        }
      }
      &-listItem {
        display: flex;
        align-items: center;
        margin: .0rem 0 .5rem 0;
        padding: .3em 1em .3em .8em;
        
        border-radius: .5rem;
        cursor: pointer;
        transition: .2s ease all;
        color: var(--clr-secondary-txt);

        font-family: $font-primary-u;

        &.selected {
          background-color: var(--clr-navlist-hover);
        }
        &:hover {
          background-color: var(--clr-navlist-hover);
        }
        &:last-child {
          margin-bottom: .9rem;
        }
      }
    }

    // labels nav
    &__list--labels {
      border-radius: $borders; 
      margin-bottom: var(--item-gap);

      overflow: hidden;
      
      &-container {
        display: flex;
        align-items: center;
        // box-shadow: 0 .1rem .3rem hsl(0 0 0 / .3);
        border-radius: $borders;
        
        transition: .3s ease;
        &:hover {
          background-color: var(--clr-navlist-hover);
        }

        &__add-icon { 
          margin: 0 .4em 0 auto;
          padding: .4em;
          cursor: pointer;
  
          font-size: 1.1rem;
          color: var(--clr-primary-icon);
          border-radius: 50%;
          transition: .3s ease;
        }
        & svg {
          pointer-events: none;
        }
      }
  
      &-wrapper {
        display: flex;
        align-items: center;
        gap: var(--icon-gap);
        
        padding-block: var(--pad-block);
        padding-inline: .8em;
        max-height: 100%;
        cursor: pointer;
        // outline: 1px solid red;
  
        &__txt {
          color: var(--clr-primary-txt);
          font-weight: 500;
          pointer-events: none;
        }
        &__downarrow-icon {
          color: var(--clr-primary-icon);
          pointer-events: none;
          transition: .3s ease transform;
          transform: rotate(0deg);

          &.rotated {
            transform: rotate(180deg);
          }
        }
      }

      // labels r list
      &-list {
        display: block;
        margin-inline: auto 1rem;
        padding: 0 1em 0 .5em;
        width: 95%;
        // max-height: 0;
        height: auto;

        overflow-y: auto;
        margin-top: .5rem;

        transition: .2s ease-in max-height,
        .2s ease opacity;
        opacity: 1;

        &.open {
          // max-height: 10rem;
          opacity: 1;
        }
        border-radius: $borders;


        scrollbar-width: none;
        scrollbar-color: var(--clr-scrlbar-thumb);

        &::-webkit-scrollbar {
          width: 0;
        }
        &:hover::-webkit-scrollbar {
          width: 1rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--clr-scrlbar-thumb);
          border-radius: 1rem;
          border: .3rem solid var(--clr-scrlbar-track);

          &:hover {
            background-color: var(--clr-scrlbar-thumb-hover);
          }
        }
        &::-webkit-scrollbar-track {
          background-color: var(--clr-scrlbar-track);
        }

        &:hover {
          scrollbar-width: thin;
        }
      }
      &-listItem {
        display: flex;
        align-items: center;
        margin: .0rem 0 .5rem 0;
        padding: .3em 1em .3em .8em;
        
        cursor: pointer;
        border-radius: .5rem;
        transition: .2s ease all;
        color: var(--clr-secondary-txt);

        font-family: $font-primary-u;

        &.selected {
          background-color: var(--clr-navlist-hover);
        }
        &:hover {
          background-color: var(--clr-navlist-hover);
        }
        &:last-child {
          margin-bottom: .9rem;
        }
      }
    }
  }

}