// 640px, 1024px, 1400px
$breakpoints-up: (
    'medium': '40em',
    'large': '64em',
    'xlarge': '87.5em'
);

// 639px, 1023px, 1399px
$breakpoints-down: (
    'medium': '39.9375em',
    'large': '63.9375em',
    'xlarge': '87.4375em'
);

// for min-width
@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

// for max width
@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

// for flex-container
@mixin flex($justify:center, $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    @content;
}