
$content-width: 112rem;
$borders: .5rem;

$clr-primary200: hsl(199 100% 50% / .3);
$clr-primary400: hsl(199 100% 50%);
$clr-primary450: hsl(199 100% 38%);

$clr-error500: hsl(0 100% 68%);

// $font--baloo: 'Baloo 2', sans-serif;
