$content-width: 112rem;
$borders: .5rem;

$clr-selection: hsl(199, 100%, 37%);

$clr-primary200: hsl(199 100% 50% / .3);
$clr-primary400: hsl(199, 100%, 50%);
$clr-primary450: hsl(199 100% 38%);

$clr-error500: hsl(0 100% 68%);

$clr-primary200-signup: hsl(258 100% 76% / .3);
$clr-primary400-signup: hsl(258, 100%, 76%);
$clr-primary450-signup: hsl(258, 100%, 70%);


$clr-primary-bg: #1a1a1a;
$clr-primary-fg: #fff;

$font-primary-u: 'Ubuntu', sans-serif; 
$font-secondary-r: 'Roboto', sans-serif; 
