@use '../../../../frontend/sass/components/' as *;

.profy__main__header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // gap: 2rem;
  position: relative;
  margin-block: 1rem 1.5rem;
  // outline: 1px solid red;
  transition: .2s ease;
  @include breakpoint(medium) { margin-block: 1.7rem 2rem; }
  @include breakpoint(large) { margin-block: 1.7rem 3rem; }

  &__name {
    display: flex;
    align-items: center;
    gap: .8rem 1rem ;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    // border: 1px solid white;
    @include breakpoint(large) { margin-right: .5rem; }
    
    &--project {
      flex-shrink: 2;
      max-width: 17ch;
      // width: 100%;
      margin-right: auto;
      // font-size: clamp(1.75rem, 5vmin, 4rem);
      font-size: clamp(1.7rem, 5vmin, 4rem);
      font-weight: 500;
      color: var(--clr-primary-txt);
      font-family: $font-primary-u;
      
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      // outline: 1px solid white;
      @include breakpoint(medium) { word-spacing: .3rem; }
      @include breakpoint(large) { max-width: 30ch; }
    }
    &--createdBy {
      display: flex;
      align-items: center;
      gap: .5rem;
      flex-wrap: wrap;

      margin-inline: 0 auto;
      font-size: clamp(.85rem, 3vmin, 1.05rem);
      color: var(--clr-primary-txt);
      & .__wrap {
        display: flex;
        align-items: center;
        gap: .3rem;
        background-color: hsla(199, 100%, 41%, .1);
        color: var(--clr-logo-project);
        padding: .05em .5em;
        border-radius: $borders;
      }      
    }
  }
  
  &__options {
    margin-top: 0;
    
    &--icon {
      flex-shrink: 0;
      font-size: clamp(1.6rem, 4vmin, 2rem);
      margin-left: auto;
      padding-block: .15em;
      padding-inline: .2em;
      
      color: var(--clr-primary-icon);
      background-color: var(--clr-sidebar-bg);
      border-radius: $borders;
      outline: 1px solid var(--clr-separator-brdr);

      cursor: pointer;
    }
    & .project__options__dropdown {
      display: block;
      visibility: hidden;
      opacity: 0;
      min-width: 0;

      position: absolute;
      z-index: 802;
      top: 4.2rem; right: 0;
      isolation: isolate;

      padding: .7em 0;
      background-color: var(--clr-sidebar-bg);
      border-radius: $borders;
      transform: translateY(-1rem);
      transition: .1s ease;
      user-select: none;
      overflow: hidden;
      @include breakpoint(medium) { top: 5.5rem; right: 0; }
      @include breakpoint(large) {
        top: 25%; right: 4.5rem;
        transform: translateX(1rem);
        &.open { transform: translateX(0); }
      }
      &.open {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        min-width: fit-content;
      }

      --option-size: clamp(.9rem, 3.2vmin, 1rem);
      &--share {
        display: flex;
        align-items: center;

        font-size: var(--option-size, .8rem);
        padding: .5em .8em;
        cursor: pointer;
        margin-bottom: .2rem;
        &:hover { background-color: var(--clr-navlist-hover); }
        &--icon {
          color: var(--clr-primary-icon);
          font-size: calc(var(--option-size) + .1rem);
          pointer-events: none;
        }
        &--txt {
          color: var(--clr-primary-icon);
          margin-left: .5rem;
          pointer-events: none;
        }
      }
      &--delete {
        display: flex;
        align-items: center;

        font-size: var(--option-size, .8rem);
        padding: .5em .8em;
        cursor: pointer;
        color: hsl(348, 100%, 70%);
        &:hover { background-color: var(--clr-navlist-hover); }
        &--icon {
          font-size: calc(var(--option-size) + .1rem);
          pointer-events: none;
        }
        &--txt {
          margin-left: .5rem;
          pointer-events: none;
        }
      }
    }
    & [data-project-options-backdrop] {
      opacity: 0;
      visibility: hidden;

      position: fixed;
      z-index: 702;
      inset: 0;
      min-width: 100vh;
      min-height: 100vh;
      isolation: isolate;
      // background-color: rgba(255, 0, 0, 0.2);
      &[aria-hidden="false"] {
        opacity: 1;
        visibility: visible;
      }
    }
    & svg { pointer-events: none; }
  }

  // project delete modal
  & [data-project-delete-modal] {
    position: fixed;
    margin-block: auto;
    margin-inline: auto;
    
    isolation: isolate;
    border: none;
    overflow: hidden;
    background-color: transparent;

    &:not([open]) { display: none; }
    &::backdrop {
      background-color: hsl(0 0 0 / .7);
      backdrop-filter: blur(.3rem);
    }
  }
  & .delete__project {
    position: relative;
    isolation: isolate;
    min-width: 17.5rem;
    max-width: 17.5rem;

    overflow: hidden;
    border-radius: .8rem;
    background-color: var(--clr-sidebar-bg);
    border: 1px solid var(--clr-separator-brdr);

    &__header {
      display: flex;
      align-items: center;

      padding-block: .5em;
      padding-inline: 1em;
      border-bottom: 1px solid var(--clr-separator-brdr);

      &--txt {
        margin-left: auto;
        font-size: 1.1rem;
        word-spacing: .2rem;
        color: var(--clr-primary-txt);
      }
      &--cancelIcon {
        display: block;
        margin-inline: auto 0;
        padding: .3em;
        font-size: 1.1rem;
        border-radius: 50%;
        cursor: pointer;
        color: var(--clr-inactive-txt);
        background-color: var(--clr-separator-brdr);
        & > * { pointer-events: none; }
      }
    }

    &__description {
      display: block;
      position: relative;

      margin-block: .8rem 1rem;
      padding-inline: 1rem;
      max-width: 100%;
      width: 100%;

      &__txt {
        line-height: 1.7;
        color: var(--clr-primary-txt);
        margin-bottom: .7rem;
      }
      &__btns {
        display: block;
        // border: 1px solid white;
        max-width: fit-content;
        margin-left: auto;
        
        & button {
          padding: .25em .8em;
          border-radius: $borders;
          background-color: transparent;
          color: var(--clr-primary-txt);
          outline: none;
          border: none;
          transition: .15s ease;
          &:hover {
            background-color: var(--clr-separator-brdr);
          }
          &[type="submit"] { 
            margin-left: .2rem; 
            color: var(--clr-signout-txt);
            background-color: var(--clr-signout-bg);
            &:hover { background-color: var(--clr-signout-bg-hover); }
          }
        }
      }
    }
  }

  
  // proejct share modal
  & [data-project-share-modal] {
    position: fixed;
    margin-block: auto;
    margin-inline: auto;
    
    isolation: isolate;
    border: none;
    overflow: hidden;
    background-color: transparent;

    &:not([open]) { display: none; }
    &::backdrop {
      background-color: hsl(0 0 0 / .7);
      backdrop-filter: blur(.3rem);
    }
  }
  & .share__project {
    position: relative;
    isolation: isolate;
    min-width: 18rem;
    max-width: 18rem;

    overflow: hidden;
    border-radius: .8rem;
    background-color: var(--clr-sidebar-bg);
    border: 1px solid var(--clr-separator-brdr);

    &__header {
      display: flex;
      align-items: center;

      padding-block: .5em;
      padding-inline: 1em;
      border-bottom: 1px solid var(--clr-separator-brdr);

      &--txt {
        margin-left: auto;
        font-size: 1.1rem;
        word-spacing: .2rem;
        color: var(--clr-primary-txt);
      }
      &--cancelIcon {
        display: block;
        margin-inline: auto 0;
        padding: .3em;
        font-size: 1.1rem;
        border-radius: 50%;
        cursor: pointer;
        color: var(--clr-inactive-txt);
        background-color: var(--clr-separator-brdr);
        & > * { pointer-events: none; }
      }
    }

    &__description {
      display: block;
      position: relative;

      // margin-block: .8rem 1rem;
      margin-block: .8rem 0;
      padding-inline: 1rem;
      max-width: 100%;
      width: 100%;

      &__txt {
        color: var(--clr-primary-txt);
        color: var(--clr-inactive-txt);
        // margin-bottom: .7rem;
      }
    }

    &__btns {
      display: block;
      max-width: fit-content;
      margin: 0 0 1rem auto;
      // padding-inline: 1rem;
      
      & button {
        padding: .25em .8em;
        border-radius: $borders;
        background-color: transparent;
        color: var(--clr-primary-txt);
        outline: none;
        border: none;
        transition: .2s ease;
        background-color: transparent;
        outline: 1px solid var(--clr-separator-brdr);
        &:hover {
          background-color: var(--clr-separator-brdr);
        }
        
        &[data-share-link-submitter="makeShareLinkPrivate"] {
          margin-top: 1rem;
          outline: none;
          color: var(--clr-signout-txt);
          background-color: var(--clr-signout-bg);
          &:hover { background-color: var(--clr-signout-bg-hover); }
        }

      }
    }

    & [data-project-share-wrapper] {
      display: none;

      &.show { display: block; }
    }

    & .project__share-link-wrap {
      display: flex;
      align-items: center;

      margin-block: .5rem 2rem;
      position: relative;
      overflow: hidden;
      background-color: var(--clr-primary-bg);
      border-radius: $borders;
      outline: 1px solid var(--clr-separator-brdr);

      &.show { display: flex; }

      
      & [data-project-share-link] {
        padding: .7em 1.2em .7em 1em;
        font-size: .85rem;
        white-space: nowrap;
        overflow: auto hidden;
        color: var(--clr-primary-txt);

        &::-webkit-scrollbar { display: none; }
        scrollbar-width: none;
      }
      & [data-project-share-link-copy] {
        min-width: fit-content;
        padding: .5em 1em;
        margin-right: .05rem;
        
        font-size: .8rem;
        font-weight: 500;
        transition: .2s ease;
        border-radius: $borders;
        text-transform: uppercase;
        color: var(--clr-inactive-txt);
        background-color: var(--clr-sidebar-bg);
        border: 2px solid var(--clr-primary-bg);
        user-select: none;
        cursor: pointer;
        & > * { pointer-events: none; }
      }

    }
  }


}

