@use '../../../../frontend/sass/components/' as *;

.profy__main {
  --top-margin: calc(var(--pad-titlebar) * 4.2);
  // display: none;
  display: block;
  position: relative;

  grid-area: main;

  padding-inline: 1.2rem;
  // margin-block: 0 auto;

  color: var(--clr-secondary-txt);
  font-family: $font-secondary-r;

  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: var(--clr-secondary-bg);
  
  min-height: calc(100vh - var(--top-margin));

  @include breakpoint(medium) {
    flex-grow: 1;
    max-height: calc(100vh - var(--top-margin));
    min-height: calc(100vh - var(--top-margin));
    padding-inline: 1.8rem 2rem;
  }

  @include breakpoint(large) {
    padding-inline: 4rem 4.5rem;
  }

  &__path-wrap {
    display: none;
    word-spacing: .1rem;
    margin-block: 2rem 0;

    @include breakpoint(medium) {
      display: block;
    }
  }
  &__path {
    display: inline-block;

    font-size: .95rem;
    color: inherit;
    font-weight: 500;
    &.inactive {
      color: var(--clr-inactive-txt);
    }

    &[data-project-section] {
      text-transform: capitalize;
    }
  }

}

