@use '../../../../frontend/sass/components/' as *;

.profy__main__section--ideas {
  // display: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  // border: 1px solid white;
  
  padding-block: 2em 5em;
  @include breakpoint(medium) { padding-block: 3em; }
  
  &--formContainer {
    display: block;
    position: relative; //sticky
    // top: 0;

    margin-block: 0 auto;
    padding: 1em 1.2em;
    min-width: 18rem;
    max-width: 18rem;
    max-height: fit-content;
    
    border-radius: $borders;
    transition: 300ms ease max-height;
    background-color: var(--clr-sidebar-bg);
    &.collapsed {
      padding: 1.5em 1.2em;
      max-height: 3rem;
      overflow: hidden;

      & .reveal { --margin-b: .6rem; }
      & .ideas-illustrate-txt { display: none; }
      & .ideas-form { display: none; }
    }

    & .reveal {
      --margin-b: 1rem;
      display: flex;
      align-items: center;
      gap: .5rem;
      position: absolute;
      inset: auto auto 0 0;

      margin: 0 0 var(--margin-b) 1rem;
      // margin: 0 0 1rem 1rem;
      padding: .3em .7em;
      font-size: .8rem;
      border-radius: $borders;
      max-width: fit-content;
      cursor: pointer;
      
      transition: .1s ease;
      outline: 1px solid var(--clr-separator-brdr);
      &:hover {
        background-color: var(--clr-separator-brdr);
      }

      & > * { pointer-events: none; }
      &__txt {
        color: var(--clr-primary-txt);
        & span { display: none; }
        &.hide .reveal__txt--hide { display: inline; }
        &.show .reveal__txt--show { display: inline; }
      }
      &__icon {
        color: var(--clr-primary-icon);
        transition: .3s ease;
        &.rotate { transform: rotate(180deg); }
      }
    }

    & .ideas-illustrate-txt {
      display: block;
      max-width: 32ch;
      font-size: .98rem;
      font-family: $font-secondary-r;
      color: var(--clr-primary-txt);
    }

    & .ideas-form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      margin-block: 1.5rem 0;
      // outline: 1px solid salmon;
      
      &__description {
        
        &--field {
          display: block;
          padding: .5em .8em;
          width: 100%;
          min-height: 5rem;
          
          overflow: hidden auto;
          border-radius: $borders;
          color: var(--clr-primary-txt);
          background-color: var(--clr-ternary-bg);
          // background-color: var(--clr-input-field);
          resize: none;
          border: none;
          outline: 1px solid var(--clr-separator-brdr);
          
          &:focus {
            outline: 2px solid var(--clr-separator-brdr);
          }
        }
      }

      &__imgUrl {
        transition: .2s ease;
        &.notouch { 
          opacity: .4;
          user-select: none;
          pointer-events: none;
        }
        &--field {
          display: block;
          padding: .5em .8em;
          width: 100%;
          
          border-radius: $borders;
          color: var(--clr-primary-txt);
          background-color: var(--clr-ternary-bg);
          border: none;
          outline: 1px solid var(--clr-separator-brdr);
          
          &:focus {
            outline: 2px solid var(--clr-separator-brdr);
          }
        }
      }

      &__imgUpload {

        &.notouch { 
          opacity: .4;
          user-select: none;
          pointer-events: none; 
        }
        & .linkOrUpload-txt {
          width: fit-content;
          margin-inline: auto;
          margin-bottom: .5rem;
          font-size: .95rem;
          color: var(--clr-inactive-txt);
        }
        &--field {
          display: block;
          padding: .2em;
          max-width: 100%;
          color: var(--clr-primary-txt);
          border: none;
          
          &::file-selector-button {
            margin-right: 1rem;
            padding: .5em 1em;

            color: var(--clr-primary-txt);
            background-color: var(--clr-ternary-bg);
            border-radius: $borders;

            cursor: pointer;
            border: none;
            outline: 1px solid var(--clr-separator-brdr);
            &:hover {
              outline: 2px solid var(--clr-separator-brdr);
            }
          }
        }
        &__preview {
          display: none;
          position: relative;
          margin-top: .7rem;
          max-width: 100%;
          width: 100%;
          aspect-ratio: 17/9;
          
          // border: 1px solid white;
          border-radius: $borders;
          overflow: hidden;

          &--src {
            display: block;
            transition: .3s ease;
            &:hover { transform: scale(1.05); }
          }

          & [data-idea-imgUpload-preview-closebtn] {
            display: inline-block;
            position: absolute;
            position: absolute;
            inset: 0 0 auto auto;

            padding: .2em;
            margin: .2rem .25rem 0 0;
            border-radius: 50%;
            cursor: pointer;
            color: whitesmoke;
            background-color: hsl(0 0 0 / .3);
            & > * { pointer-events: none; }
          }
        }
      }

      &__submit {
        font-size: .95rem;
        max-width: fit-content;
        margin: 0 0 0 auto;

        &--btn {
          padding: .45em 1em;

          // color: $clr-primary450;
          color: var(--prim-btn-clr);
          background-color: var(--prim-btn-clr-bg);
          border: none;
          border-radius: .8rem;
          transition: .1s ease;

          &:hover {
            // background-color: hsl(199 100% 50% / .25);
            transform: translateY(.1rem);
          }
        }
      }
    }

  }

  &--ideasContainer {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2.5rem 2rem;
    
    & .idea {
      position: relative;
      isolation: isolate;

      max-width: 20rem;
      margin-bottom: auto;
      margin-inline: auto;
      padding-block: .2em .8em;

      overflow: hidden;
      border-radius: $borders;
      background-color: var(--clr-sidebar-bg);


      & .idea__options--wrap {
        display: block;
        position: relative;
        isolation: isolate;
        z-index: 72;
        // margin-bottom: .5rem;
        // border: 1px solid red;

        & .idea__options--icon {
          display: block;
          position: absolute;
          right: 0;

          margin-inline: auto 0;
          padding: .6em .5em .7em .7em;

          // outline: 1px solid #999;
          max-width: fit-content;
          cursor: pointer;
          color: var(--clr-primary-icon);
          & > * { pointer-events: none; }
        }
        // actual options container
        & .idea__options {
          position: absolute;
          right: 0;
          margin: 3rem .5rem 0 0;
          padding-block: .4rem;
          
          overflow: hidden;
          border-radius: $borders;
          background-color: var(--clr-ternary-bg);
          border: 1px solid var(--clr-separator-brdr);
          transition: .2s ease, .1s ease opacity;
          visibility: hidden;
          opacity: 0;
          transform: translateY(-.5rem);
          &[aria-hidden="false"] {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
          
          &--edit,
          &--delete {
            padding-block: .3em;
            padding-inline: 1em 1.5em;

            cursor: pointer;
            transition: .1s ease;
            color: var(--clr-primary-txt);
            & > * { pointer-events: none; }
            &:hover {
              background-color: var(--clr-separator-brdr);
            }
          }
          &--delete { color: var(--clr-signout-txt); }
        }
      }
      // description & illustration
      &__description {
        display: block;
        position: relative;
        isolation: isolate;
        z-index: 62;
        
        padding-left: .7rem;
        margin-inline: 0 auto;
        max-width: 95%;
        width: 100%;
        // border: 1px solid salmon;

        &__content {
          display: block;

          margin-inline: 0;
          padding: .2em .5em;
          max-width: 100%;
          width: 100%;
          max-height: 6rem;
          
          overflow-y: auto;
          background-color: transparent;
          color: var(--clr-primary-txt);
          // border: none;
          cursor: text;
          border-radius: $borders;
          scrollbar-width: thin;
          overflow-wrap: break-word;

          // outline: 1px solid var(--clr-separator-brdr);
        }
        &__date {
          margin: .5rem 0 .5rem 0;
          padding: .2em .8em;
          max-width: fit-content;

          cursor: auto;
          font-size: .9rem;
          border-radius: 1rem;
          color: var(--clr-inactive-txt);
          background-color: var(--clr-secondary-bg);
        }
      }
      &__img {
        display: block;
        margin-inline: auto;
        margin-block: .7rem 0;
        width: 90%;
        
        border-radius: $borders;
        overflow: hidden;
        
        &--src {
          --size: 13.5;
          position: relative;
          aspect-ratio: 12/9;
          max-width: var(--size);
          width: 100%;
          max-height: var(--size);
          
          background-color: var(--clr-primary-bg);
          object-position: center;
          border-radius: $borders;
          scale: 1;
          transition: .4s ease;

          &:hover {
            cursor: zoom-in;
            scale: 1.2;
          }
          &::after { 
            content: 'not found / valid';
            position: absolute;
            margin-inline: .4rem 1rem;
          }
        }
      }
    }


    & [data-idea-edit-modal] {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      position: fixed;
      margin-block: auto;
      margin-inline: auto;
      padding: .2em;

      isolation: isolate;
      border: none;
      overflow: hidden;
      background-color: transparent;

      &:not([open]) { display: none; }
      &::backdrop {
        background-color: hsl(0 0 0 / .6);
        backdrop-filter: blur(.3rem);
      }
    }
    & .edit__idea {
      position: relative;
      isolation: isolate;

      min-width: 18rem;
      max-width: 18rem;

      overflow: hidden;
      border-radius: .8rem;
      background-color: var(--clr-sidebar-bg);
      border: 1px solid var(--clr-separator-brdr);

      &__header {
        display: flex;
        align-items: center;

        padding-block: .5em;
        padding-inline: 1em;
        border-bottom: 1px solid var(--clr-separator-brdr);

        &--txt {

          color: var(--clr-primary-txt);
          margin-left: auto;
          
          word-spacing: .3rem;
          font-size: 1.1rem;
        }
        &--cancelIcon {
          display: block;

          margin-inline: auto 0;
          font-size: 1.1rem;
          
          padding: .3em;
          background-color: var(--clr-separator-brdr);
          color: var(--clr-inactive-txt);
          border-radius: 50%;
          cursor: pointer;
          & > * { pointer-events: none; }
        }
      }

      &__description {
        display: block;
        position: relative;

        margin-block: .8rem 1.2rem;
        padding-inline: .7rem;
        max-width: 100%;
        width: 100%;

        &__content {
          display: block;
          padding: .2em .6em;
          max-width: 100%;
          width: 100%;

          min-height: 8rem;
          max-height: 8rem;
          overflow: hidden auto;
          resize: none;

          background-color: var(--clr-primary-bg);
          background-color: transparent;
          color: var(--clr-primary-txt);
          border: none;
          cursor: text;
          border-radius: $borders;
          scrollbar-width: thin;
          overflow-wrap: break-word;
          outline: 1px solid var(--clr-separator-brdr);

          &:focus {
            outline: 2px solid var(--clr-separator-brdr);
          }
          &::-webkit-resizer {
            display: none;
            background-color: var(--clr-ternary-bg);
          }
        }
      }

      &__img {
        padding-inline: .7em;
        max-width: 100%;
        width: 100%;

        &--url, &--upload { display: none; }
        &.url .edit__idea__img--url { display: block; } 
        &.upload .edit__idea__img--upload { display: block; }

        &--url {
          padding: .4em .8em;
          width: 100%;
          
          border-radius: $borders;
          color: var(--clr-primary-txt);
          background-color: var(--clr-ternary-bg);
          border: none;
          outline: 1px solid var(--clr-separator-brdr);
          &:focus {
            outline: 2px solid var(--clr-separator-brdr);
          }
        }

        &--upload {
          // preview image wrapper
          &--preview {
            display: block;
            position: relative;
            margin-block: 0 .7rem;
            margin-inline: auto;
            max-width: 98%;
            width: 100%;
            aspect-ratio: 18/9;

            border-radius: $borders;
            overflow: hidden scroll;
            color: var(--clr-primary-txt);
            scrollbar-width: thin;
            &.hide { display: none; }
            &--src { 
              display: block; 
              border-radius: $borders;
              transform: scale(1);
              transition: .2s ease;
              &:hover { transform: scale(1.1); }
            }
            & [data-idea-edit-imgUpload-preview-closebtn] {
              display: inline-block;
              position: absolute;
              position: absolute;
              inset: 0 0 auto auto;

              padding: .2em;
              margin: .2rem .25rem 0 0;
              border-radius: 50%;
              cursor: pointer;
              color: whitesmoke;
              background-color: hsl(0 0 0 / .3);
              & > * { pointer-events: none; }
            }
          }
          
          &--btn {
            display: block;
            padding: .2em;
            max-width: 100%;
            color: var(--clr-primary-txt);
            border: none;
            cursor: pointer;
          
            &.notouch { pointer-events: none; }
            &::file-selector-button {
              margin-right: 1rem;
              padding: .5em 1em;

              color: var(--clr-primary-txt);
              background-color: var(--clr-ternary-bg);
              border-radius: $borders;

              cursor: pointer;
              border: none;
              outline: 1px solid var(--clr-separator-brdr);
              &:hover {
                outline: 2px solid var(--clr-separator-brdr);
              }
            }
          }
        }
      }

      &__save {
        font-size: 1rem;
        margin-block: 2rem 1rem;
        margin-inline: 0 .8rem;
        // border: 1px solid white;

        &-btn {
          display: block;
          padding: .35em 2em;

          margin-inline: auto 0;

          color: var(--prim-btn-clr);
          background-color: var(--prim-btn-clr-bg);
          border-radius: $borders;
          border: none;
          transition: .1s ease;
          &:hover { background-color: hsl(199 100% 50% / .4); }
        }
      }
    }

    & [data-idea-delete-modal] {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      position: fixed;
      margin-block: auto;
      margin-inline: auto;
      
      isolation: isolate;
      border: none;
      overflow: hidden;
      background-color: transparent;

      &:not([open]) { display: none; }
      &::backdrop {
        background-color: hsl(0 0 0 / .7);
        backdrop-filter: blur(.3rem);
      }
    }
    & .delete__idea {
      position: relative;
      isolation: isolate;
      min-width: 17.5rem;
      max-width: 17.5rem;

      overflow: hidden;
      border-radius: .8rem;
      // background-color: var(--clr-primary-bg);
      background-color: var(--clr-sidebar-bg);
      border: 1px solid var(--clr-separator-brdr);

      &__header {
        display: flex;
        align-items: center;

        padding-block: .5em;
        padding-inline: 1em;
        border-bottom: 1px solid var(--clr-separator-brdr);

        &--txt {
          margin-left: auto;
          font-size: 1.1rem;
          word-spacing: .2rem;
          color: var(--clr-primary-txt);
        }
        &--cancelIcon {
          display: block;
          margin-inline: auto 0;
          padding: .3em;
          font-size: 1.1rem;
          border-radius: 50%;
          cursor: pointer;
          color: var(--clr-inactive-txt);
          background-color: var(--clr-separator-brdr);
          & > * { pointer-events: none; }
        }
      }

      &__description {
        display: block;
        position: relative;

        margin-block: .8rem 1rem;
        padding-inline: 1rem;
        max-width: 100%;
        width: 100%;

        &__txt {
          line-height: 1.7;
          color: var(--clr-primary-txt);
          margin-bottom: .7rem;
        }
        &__btns {
          display: block;
          // border: 1px solid white;
          max-width: fit-content;
          margin-left: auto;
          
          & button {
            padding: .25em .8em;
            border-radius: $borders;
            background-color: transparent;
            color: var(--clr-primary-txt);
            outline: none;
            border: none;
            transition: .15s ease;
            &:hover {
              background-color: var(--clr-separator-brdr);
            }
            &[type="submit"] { 
              margin-left: .2rem; 
              color: var(--clr-signout-txt);
              background-color: var(--clr-signout-bg);
              &:hover { background-color: var(--clr-signout-bg-hover); }
            }
          }
        }
      }
    }
  }
}

