@use '../../../../frontend/sass/components/' as *;

.profy__main__section {
  // border: 1px solid red;
  &__options {
    display: flex;
    align-items: center;
    gap: clamp(.6rem, 6vmin, 3rem);

    padding-block: .5em 0em;
    overflow-x: auto;
    border-bottom: 2px solid var(--clr-separator-brdr);
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }

    & [data-project-section-options] {
      display: flex;
      align-items: center;
      gap: .7rem;
      flex-shrink: 0;

      position: relative;
      padding-block: .2em .8em;
      padding-inline: .4em;
      isolation: isolate;

      font-family: $font-secondary-r;
      font-size: clamp(.92rem, 3vmin, 1rem);
      cursor: pointer;
      transition: .1s ease;
      & > * { pointer-events: none; }
      & [data-project-section-options-icon] {
        flex-shrink: 0;
        color: var(--clr-inactive-txt);
      }

      color: var(--clr-inactive-txt);
      &:hover {
        color: var(--clr-secondary-txt);
        &::before {
          content: '';
          position: absolute;
          inset: auto auto 25% 0;
          width: 100%; height: 80%;
          z-index: -1;
          border-radius: $borders;
          background-color: var(--clr-separator-brdr);
        }        
      }
      // border-bottom: .2rem solid transparent;

      &.selected {
        color: var(--clr-secondary-txt);
        &::after {
          transform: scale(1);
        }
      }
      &::after {
        content: '';
        position: absolute;
        left: 0; bottom: 0;
        
        z-index: -1;
        height: .15rem;
        width: 100%;
        background-color: var(--clr-logo-project);
        border-radius: 2rem 2rem 0 0;
        transition: .15s ease;
        transform: scale(0);
        pointer-events: none;
      }
    }
  }
}

.profy__main__section--overview {
  display: none;
  // display: flex;
  gap: 2rem 2.5rem;
  flex-wrap: wrap;
  justify-content: center;

  padding-block: 2em 1.5em;
  cursor: initial;
  @include breakpoint(medium) { 
    padding-inline: 0 1em; 
    padding-block: 3em 1.5em;
  }
  @include breakpoint(large) { 
    padding-inline: 0 3em; 
  }

  .overview__change-btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0 0 0;
    max-width: fit-content;
    font-size: 1rem;
    // outline: 1px solid white;

    &.edit [data-overview-cancel-btn],
    &.edit [data-overview-save-btn]  {
      display: inline-block;
    }
    &.edit [data-overview-edit-btn] {
      display: none;
    }

    & button {
      display: none;
      padding: .3em .8em;
      
      border-radius: $borders;
      border: none;
      transition: .15s ease;
      color: var(--clr-primary-txt); 
      background-color: var(--clr-primary-bg);
      border: 1px solid var(--clr-separator-brdr);
      &:hover {
        background-color: var(--clr-separator-brdr);
      }
      &:first-child {
        display: block;
      }
      &[data-overview-save-btn] {
        color: var(--clr-edit-btn); 
        background-color: var(--clr-edit-btn-bg); 
        border: none;
        transition: .15s ease;
        &:hover {
          background-color: var(--clr-edit-btn-hover);
        }
      }
    }
  }
  
  & .section--overview__form {
    display: flex;
    gap: 2rem 4rem;
    justify-content: center;
    flex-wrap: wrap;

    flex-grow: 0;
    // border: 1px solid #00aeff;
    // margin-inline: 0 auto;

    max-width: 45%;
    width: 100%;
    // padding: .5em .75em;

    
    // border: 1px solid salmon;
    // name & date wrapper

    // &__name-date--wrap { }

    // name container
    &--name {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap;

      max-width: 24ch;

      & label {
        font-size: 1.1rem;
        flex-grow: 1;
        flex-shrink: 0;
        cursor: inherit;
        color: var(--clr-inactive-txt);
      }
      &__field {
        font-size: 1.05rem;
        display: block;
        padding: .3em 1em .3em .8em;
        min-width: 20ch;
        margin-top: 1rem;
        
        color: var(--clr-primary-txt);
        background-color: var(--clr-input-field);
        outline: 1px solid var(--clr-separator-brdr);
        border-radius: $borders;
        border: none;
        &:focus {
          outline: 1px solid var(--clr-logo-project);
        }
        &:read-only:focus {
          outline: 1px solid var(--clr-separator-brdr);
        }
      }
    }

    // date wrapper
    &--date-wrap {
      display: block;
      margin-block: 2.7rem 0;
      font-size: 1.1rem;
      color: var(--clr-inactive-txt);
      
      & label { cursor: initial; }
      .proposed-schedule-txt {
        display: block;
        padding: 0 .5em .2em .5em;
        border-bottom: 1px solid var(--clr-separator-brdr);
        margin-inline-end: auto;
        max-width: fit-content;
        text-align: center;
      }
    }
    &--date {
      margin-top: 1rem;
      max-width: 90%;
      font-size: 1.05rem;

      color: var(--clr-primary-txt);

      & label { display: block; }
      & .overview__change-btn { 
        margin-left: auto;
      }
      // &:not(:last-child) { margin-top: 1.5rem; }
      &__field {
        display: block;
        margin-top: .5rem;
        padding: .35em 1.5em .35em 1em;
        
        color: var(--clr-primary-txt);
        background-color: var(--clr-input-field);
        outline: 1px solid var(--clr-separator-brdr);
        border-radius: $borders;
        border: none;
        cursor: initial;
        &::-webkit-calendar-picker-indicator { 
          cursor: pointer;
          background-color: hsla(0, 0%, 100%, 0.8);
          border: 1px solid var(--clr-separator-brdr);
          border-radius: 40%;
        }
        &:focus { outline: 1px solid var(--clr-logo-project); }
        &:read-only:focus {
          outline: 1px solid var(--clr-separator-brdr);
        }
      }
    }

    // project goals container
    &--goals {
      display: block;

      max-width: 17rem;
      min-width: 17rem;
      width: 100%;
      font-size: 1.1rem;
      // border: 1px solid white;
      @include breakpoint(medium) {
        max-width: 19rem;
        min-width: 19rem;
      }
      
      & label { 
        cursor: inherit; 
        color: var(--clr-inactive-txt);
      }
      &__field {
        display: block;
        padding: .5em 1em .5em .8em;
        margin-top: 1rem;

        max-width: 100%;
        width: 100%;
        // min-width: 28ch;
        // max-width: 28ch;
        max-height: 12rem;
        min-height: 12rem;
        
        font-size: 1.05rem;
        overflow: hidden auto;
        resize: none;
        color: var(--clr-primary-txt);
        background-color: var(--clr-input-field);
        outline: 1px solid var(--clr-separator-brdr);
        border-radius: $borders;
        border: none;
        &:focus {
          outline: 1px solid var(--clr-logo-project);
        }
        &:read-only:focus {
          outline: 1px solid var(--clr-separator-brdr);
        }
      }
      & .overview__change-btn { margin-left: auto; }
    } 

  }

  & .section--overview__progress {
    display: inline-block;
    padding: 1em 1em 2em 1em;
    // margin-inline: 0 auto;
    // border: 1px solid greenyellow;
    max-width: fit-content;

    & .circle {
      --circle-size: 10rem;
      --circumference: 27.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: var(--circle-size);
      aspect-ratio: 1;
      isolation: isolate;

      svg {
        display: block;
        height: var(--circle-size);
        width: var(--circle-size);
        transform: rotate(90deg) scaleX(-1);
      }
      svg circle {
        height: var(--circle-size);
        width: var(--circle-size);
        fill: none;
        stroke-width: 6;
        stroke-dasharray: var(--circumference);
        shape-rendering: geometricPrecision;        
        
        transition: 1s ease;
      }
      .circleTrack {
        stroke-dashoffset: 0;
        stroke: var(--clr-separator-brdr);
      }
      .circleThumb {
        // 440 - (440 * <value>) / 100
        
        stroke-dashoffset: calc(var(--circumference) - (var(--circumference) * var(--value, 73)) / 100);
        stroke-width : 10;
      }
    }
    
    &__time-elasped {
      padding: .3em 2.5em;
      background-color: var(--clr-sidebar-bg);
      border-radius: 1rem;
      font-size: 1.2rem;
      // outline: 1px solid white;
      
      &--txt {
        padding: .5em 1em;
        
        margin-inline: auto;
        width: fit-content;
        // outline: 1px solid white;
      }
      &--circle {
        display: grid;
        place-items: center;
        position: relative;

        padding-block: .2em .5em;
        max-width: fit-content;
        margin-inline: auto;
        // outline: 1px solid red;

        & .circleThumb--time {
          stroke: #00aeff;
        }

        & [data-time-progress] {
          display: grid;
          place-items: center;
          position: absolute;
          top: 25%;
          // outline: 1px solid white;

          font-size: 1.5rem;
          font-family: $font-primary-u;
          cursor: text;
          color: var(--clr-inactive-txt);
          margin-inline: auto;
          
          & div {
            &:last-child {
              margin-top: .5rem;
              font-family: $font-secondary-r;
              font-size: .95rem;
            }
          }
        }
      }
    }

    // work completed circular progress
    &__work-done {
      margin-block: 2rem 0;
      padding: .3em 2em;
      background-color: var(--clr-sidebar-bg);
      border-radius: 1rem;
      font-size: 1.2rem;
      
      // outline: 1px solid white;
      &--txt {
        padding: .5em 1em;
        
        margin-inline: auto;
        width: fit-content;
        // outline: 1px solid white;
      }
      &--circle {
        display: grid;
        place-items: center;
        position: relative;

        padding-block: .2em .5em;
        max-width: fit-content;
        margin-inline: auto;
        // outline: 1px solid red;

        & .circleThumb--work {
          stroke: #ff455d;
        }

        & [data-work-progress] {
          display: grid;
          place-items: center;
          position: absolute;
          top: 25%;
          // outline: 1px solid white;

          font-size: 1.5rem;
          font-family: $font-primary-u;
          cursor: text;
          color: var(--clr-inactive-txt);
          margin-inline: auto;
          
          & div {
            &:last-child {
              margin-top: .5rem;
              font-family: $font-secondary-r;
              font-size: .95rem;
            }
          }
        }
      }
    }
  }
}
